{% extends 'borme/base.html' %}

{% block title %}Sobre LibreBOR | LibreBOR.me{% endblock %}

{% block content %}
    <h1>¿Qué es LibreBOR?</h1>

    <div class="container">
      <p><strong>LibreBOR.me: Plataforma de búsqueda en el Boletín Oficial del Registro Mercantil</strong> nace con la intención de «abrir» los datos del Registro Mercantil de España. Aprovechando que <a href="https://elpais.com/diario/2008/01/03/ciberpais/1199330666_850215.html" target="_blank" rel="nofollow">desde 2009</a> se publica el <span style="border-bottom: 2px dotted #ba0000;" title="Similar al BOE donde se publican a diario las leyes, en el BORME se publican cambios en sociedades">BORME</span> en formato electrónico, LibreBOR se encarga de <i>leérselo</i> por ti cada mañana y añadir a su base de datos los últimos cambios. De esta manera tú puedes hacer búsquedas semánticas, recibir notificaciones y usar estos datos de manera sencilla y para lo que quieras.</p>

      <h3>Historia</h3>
      <p>LibreBOR (anteriormente conocido como LibreBORME) nace a finales de 2014 como Proyecto de Fin de Carrera de <a href="https://twitter.com/_pablog" target="_blank" rel="nofollow">un estudiante</a> cotutorizado por la <a href="https://www.uma.es/etsi-informatica/" target="_blank" rel="nofollow">Universidad de Málaga</a> y <a href="https://www.civio.es/" target="_blank" rel="nofollow">Fundación Ciudadana Civio</a> y su desarrollo tiene lugar a lo largo de todo 2015.</p>

      <p>En junio de 2015, <strong>LibreBOR</strong> recibió el <a href="https://pablog.me/blog/2015/07/libreborme-tercer-premio-en-el-i-certamen-de-proyectos-libres-de-la-ugr/" target="_blank" rel="nofollow">tercer premio</a> en el <strong>I Certamen de Proyectos Libres de la Universidad de Granada</strong>.</p>

      <p>A principios de 2016 acabó la primera fase del desarrollo y el tribunal otorgó a LibreBOR la calificación de <strong>sobresaliente</strong>. Desde entonces, debido a la repercusión obtenida tras la aparición en diarios online, su autor decidió mantener el servicio <i>online</i> en funcionamiento asumiendo su coste y continuando con su desarrollo.</p>

      <p>La <a href="{{ HOST_BUCKET }}/static/libreborme_memoria.pdf" target="_blank" rel="nofollow" %}>memoria del proyecto</a> está disponible para su consulta bajo licencia <a href="https://creativecommons.org/licenses/by-sa/3.0/es/" target="_blank" rel="nofollow">Creative Commons BY-SA 3.0 Spain</a>.</p>

      <h3>Casos de uso</h3>
      <p><strong>LibreBOR</strong> permite a periodistas, juristas y organizaciones de la sociedad civil investigar las sociedades a las que pertenece una persona y a profesionales conocer mejor la empresa a la que contratan servicios.</p>

      <p>Seguro que tú también puedes encontrarle un uso particular.</p>

      <h3>Desarrolladores</h3>
      <p><strong>LibreBOR</strong> es software libre y su código fuente está accesible en <a href="https://github.com/PabloCastellano/libreborme" target="_blank" rel="nofollow">GitHub</a> bajo la licencia <a href="https://www.gnu.org/licenses/agpl-3.0.html" target="_blank" rel="nofollow">Affero GPL v3</a>.</p>
      <p>LibreBOR cuenta con una <span style="border-bottom: 2px dotted #ba0000;" title="Application Programming Interface"><strong>API</strong></span> que hace posible integrar sus datos en aplicaciones y webs externas.</p>

      Puedes obtener más información en la sección <a href="{% url "developers" %}"><strong>Desarrolladores</strong></a>.
    </div>

    <h1>Sobre los datos</h1>
      <div class="container">
        <p>Esta web muestra únicamente datos públicos disponibles desde el año 2009.
        <p>Los datos aparecidos en <strong>LibreBOR.me</strong> se han obtenido de fuentes públicas y su uso está bajo las condiciones recogidas en el <a href="https://boe.es/sede_electronica/informacion/aviso_legal.php" target="_blank" rel="nofollow">Aviso legal del BOE</a>.</p>

        <p>Los datos se han obtenido mediante un proceso informático automatizado que puede contener errores de distinta índole.
        <br/>
        Por una parte hay errores que provienen del propio BORME: su elaboración es manual por lo que está sujeto a errores tipográficos; y ni personas ni empresas vienen con un identificador único como el NIF, así que no hay forma de diferenciar los cargos en empresas de dos personas que se llaman igual.
        <br/>
        Por la otra parte, al ser procesos informáticos automatizados con tanta cantidad de información, pueden existir fallos difíciles de detectar debido al propio volumen de los datos y a la imposibilidad de revisarlos manualmente por un humano.
        <br/>
        Además, como el BORME se publica en formato electrónico desde 2009, LibreBOR.me no cuenta con datos anteriores a tal fecha.
        </p>

        <p>LibreBOR no asume responsabilidad alguna por errores, inexactitudes u omisiones de la información facilitada. En consecuencia, el usuario no podrá exigir responsabilidad alguna por los daños y perjuicios derivados de errores y/o incorrección o inexactitud en la información suministrada. </p>
      </div>

{% endblock %}
