{% extends 'borme/base.html' %}

{% load staticfiles %}

{% block title %} Aviso legal | LibreBOR.me{% endblock %}

{% block content %}
    <div class="container">
      <h1>Aviso legal</h1>
      <h2>Datos identificativos</h2>

      <p>En cumplimiento del Artículo 10 de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y de Comercio Electrónico, se informa que el prestador de servicios a través del dominio y subdominios de {{ lopd.domain }} es {{ lopd.provider }} con NIF {{ lopd.id }}.</p>
      <p>Los usuarios podrán contactar con la administración del sitio para reportar abusos o ejercer sus derechos mediante los siguientes medios:<br/>
        - Dirección e-mail: {{ lopd.email|reverse|safe }}<br/>
        - Dirección postal: {{ lopd.address }}
     </p>

    <h2>Definiciones</h2>
    <p>Los términos y expresiones utilizados a lo largo de las condiciones generales tendrán los significados que se indican a continuación:<br/>
<br/>
    LibreBOR es la organización que opera la página Web http://{{ lopd.domain }}<br/>
    USUARIO es toda persona física o jurídica que acceda, navegue, utilice o participe en los servicios desarrollados en la Web http://{{ lopd.domain }}<br/>
    PÁGINA WEB es toda la información/contenido ubicado bajo el dominio y subdominios de {{ lopd.domain}}

</p>
    <h2>Licencia de uso del sitio web</h2>
    <p>El contenido de la PAGINA WEB es propiedad de LibreBOR y está disponible bajo una <a href="https://creativecommons.org/licenses/by/4.0/deed.es" target="_blank">licencia de Creative Commons Reconocimiento 4.0 Internacional</a> si no se especifica otra.</p>
    <p>
        <table>
            <tr>
            <td><img src="{% static "by.png" %}"></td>
            <td><strong>Atribución</strong> — Usted debe darle crédito a esta obra de manera adecuada, proporcionando un enlace a la licencia, e indicando si se han realizado cambios. Puede hacerlo en cualquier forma razonable, pero no de forma tal que sugiera que usted o su uso tienen el apoyo del licenciante.</td>
            </tr>
        </table>
    </p>
    <p><strong>No hay restricciones adicionales</strong> — Usted no puede aplicar términos legales ni medidas tecnológicas que restrinjan legalmente a otros hacer cualquier uso permitido por la licencia.</p>

    <h2>Propiedad intelectual e industrial</h2>
    <p>Todos los contenidos de la presente página Web, textos, marcas comerciales, imágenes logotipos y demás elementos gráficos que aparecen en el Web son propiedad de LibreBOR y están protegidos por las leyes
       en vigor nacionales e internacionales. En las páginas que aparezcan también marcas de terceros, en ningún caso la referencia hecha a estas marcas implica la propiedad intelectual de las mismas por parte de LibreBOR.</p>

    <h2>Protección de datos de carácter personal</h2>
    <p>En cumplimiento de la Ley Orgánica 3/2018, de 5 de diciembre, de Protección de Datos Personales y garantía de los derechos digitales, se informa de la existencia de un fichero de titularidad privada,
       registrado en la Agencia Española de Protección de Datos a nombre de {{ lopd.provider }}, en donde se almacenan los datos personales facilitados por los usuarios del sitio, con la finalidad de prestar
       los servicios solicitados por los mismos.
    </p>

    <p>Para ejercer los derechos de acceso, rectificación, cancelación y oposición, los usuarios podrán enviar una solicitud a la dirección e-mail y a la dirección postal.
    </p>
    <h2>Limitación de responsabilidad</h2>
    <p>La información que muestra LibreBOR.me se ha obtenido de fuentes accesibles al público y cuyos datos se presumen correctos. Debido a que la recopilación de los datos es un proceso informático automatizado y a que la enorme cantidad de datos hace imposible su completa verificación, LibreBOR no asume responsabilidad alguna por errores, inexactitudes u omisiones de la información facilitada.
    <p>El USUARIO no podrá exigir responsabilidad alguna por los daños y perjuicios derivados de errores y/o incorrección y/o inexactitud en la información suministrada y acepta que la información suministrada en la PAGINA WEB se ofrece con carácter orientativo.
    </p>
    <p>
    El USUARIO es el único responsable de las infracciones en las que pueda incurrir o de los perjuicios que pueda causar o causarse por la utilización de la PAGINA WEB, quedando LibreBOR, exonerado de cualquier clase de responsabilidad que se pudiera derivar por las acciones del USUARIO.
    </p>
    <h2>Modificación de las presentes condiciones</h2>
    <p>LibreBOR.me podrá modificar en cualquier momento los términos y las condiciones aquí determinadas, siendo debidamente publicadas como aquí aparecen. De esta forma, las condiciones generales de uso publicadas en el momento de acceso del USUARIO serán las vigentes en cada momento.
    </p>
    </div>

{% endblock %}
