{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="libreborme, borme, registro mercantil, opendata">
    <meta name="author" content="Pablo Castellano">
    <link rel="icon" href="{% static "favicon.ico" %}">

    <title>{% block title %}Librebor.me{% endblock %}</title>

    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static 'fontawesome/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static "css/libreborme.css" %}" rel="stylesheet">
    {% block javascript %}{% endblock %}
  </head>
  <body>

    <a href="https://github.com/PabloCastellano/libreborme">
        <img style="position: absolute; top: 0; right: 0; border: 0;" src="{% static "forkme_right_red_aa0000.png" %}" alt="Fork me on GitHub"
        data-canonical-src="{% static "forkme_right_red_aa0000.png" %}">
    </a>
    {% block content %}{% endblock %}

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static "ie10-viewport-bug-workaround.js" %}"></script>

  {% include "matomo.html" %}
  </body>
</html>
