<!DOCTYPE html>
<html lang="es">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="libreborme, borme, registro mercantil, opendata">
    <meta name="author" content="Pablo Castellano">
    {% load staticfiles %}
    <link rel="icon" href="{% static "favicon.ico" %}">

    <title>{% block title %}LibreBORME{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "css/libreborme.css" %}" rel="stylesheet">
  </head>
  <body>

    {% block content %}{% endblock %}

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static "ie10-viewport-bug-workaround.js" %}"></script>


  {% include "piwik.html" %}
  </body>
</html>
