{% extends 'borme/base2.html' %}
{% load bootstrap %}
{% load compress %}
{% load staticfiles %}
{% comment %}
- dropdown temas
- <i class="fa fa-envelope"></i>
{% endcomment %}

{% block title %} Contacto | LibreBORME{% endblock %}

{% block extrastyles %}
{% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'assets/css/contacto.scss' %}">
{% endcompress %}
{% endblock %}

{% block content %}

  <div class="view-contacto mt-4">
      <section class="contenido-descripcion">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <h1 class="title-section">
                          <span>|</span>contacto
                      </h1>
                  </div>
              </div>
              <div class="row mt-5">
                  <div class="col-md-6 text-justify">
                      <h3 class="mb-3">Puedes contactar con nosotros a través de la dirección de correo electrónico:</h3>
                      {{ email_contact|reverse|safe }}
                  </div>
                  <div class="col-md-6 text-justify line-separate">
                      <h3 class="mb-3">O mediante el siguiente formulario de contacto:</h3>
                      <form>
                          {{ form | bootstrap_horizontal }}
                          <button type="submit" class="btn btn2 btn-primary2 btn-transparent">Enviar</button>
                      </form>
                  </div>
              </div>
          </div>
      </section>

      {% include 'borme/sections/slide-services.html' %}

  </div>
{% endblock %}
