{% extends 'borme/base.html' %}

{% block title %} Política de cookies | LibreBORME{% endblock %}

{% block content %}
      <h1>Política de cookies</h1>

    <div class="container">
       <p> Este sitio web, al igual que la mayoría de los sitios en Internet, utiliza cookies para mejorar y optimizar la experiencia del usuario. A continuación se proporciona información sobre qué son las "cookies", qué tipologías utiliza este sitio web y cómo pueden desactivarse o eliminarse.</p>
      <h2>¿Qué son las cookies y cómo se utilizan en LibreBORME?</h2>
       <p>Las cookies son pequeños archivos que algunas plataformas, como las páginas web, pueden instalar en su ordenador, smartphone, tableta o televisión conectada, al acceder a las mismas. Sus funciones pueden ser muy variadas: almacenar sus preferencias de navegación, recopilar información estadística, permitir ciertas funcionalidades técnicas, almacenar y recuperar información sobre los hábitos de navegación o preferencias de un usuario o de su equipo hasta el punto, en ocasiones, dependiendo de la información que contengan y de la forma en que utilice su equipo, de poder reconocerlo. Una cookie se almacena en un ordenador para personalizar y facilitar al máximo la navegación del usuario. Las cookies se asocian únicamente a un usuario y su ordenador y no proporcionan referencias que permitan deducir datos personales del usuario. El usuario podrá configurar su navegador para que notifique o rechace la instalación de las cookies enviadas por el sitio web.</p>
      <h2>¿Por qué son importantes?</h2>
       <p>Las cookies son útiles por varios motivos. Desde un punto de vista técnico, permiten que las páginas web funcionen de forma más ágil y adaptada a las preferencias del usuario como, por ejemplo, almacenar su idioma o la moneda de su país. Además, ayudan a los responsables de los sitios web a mejorar los servicios que ofrecen, gracias a la información estadística que recogen a través de ellas.</p>
      <h2>¿Cómo utilizamos las cookies?</h2>
        <p>Navegar por este portal supone que se puedan instalar los siguientes tipos de cookies:</p>
        <p><strong>Cookies de análisis estadístico</strong>. Son aquellas que, bien tratadas por nosotros o por terceros, permiten cuantificar el número de visitantes y analizar estadísticamente la utilización que hacen los usuarios de nuestros servicios. Gracias a ellas podemos estudiar la navegación por nuestra página web y mejorar así la oferta de productos o servicios que ofrecemos. Estas cookies no irán asociadas a ningún dato de carácter personal que pueda identificar al usuario, dando información sobre el comportamiento de navegación de forma anónima.</p>
      <h2>¿Cómo aceptar o rechazar cookies?</h2>
        <p>Dado que las cookies no son necesarias para el uso de este sitio web, éstas pueden bloquearse o deshabilitarse activando la configuración del navegador, de manera que se rechace la instalación de todas las cookies o de algunas de ellas. La práctica mayoría de los navegadores permiten advertir de la presencia de cookies o rechazarlas automáticamente. Si son rechazadas se podrá seguir usando nuestro Sitio Web, aunque el uso de algunos de sus servicios podrá ser limitado y por tanto la experiencia del usuario puede ser menos satisfactoria.</p>
        <p>A continuación se indican los accesos a la configuración de cookies de los principales navegadores:</p>
        <p><strong>Firefox</strong>:</br>Herramientas -> Opciones -> Privacidad -> Historial -> Configuración Personalizada. Para más información, puede consultar el <a href="https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we">soporte de Mozilla</a>.</p>
        <p><strong>Chromium</strong>:</br>Configuración -> Mostrar opciones avanzadas -> Privacidad -> Configuración de contenido. Para más información, puede consultar el <a href="https://support.google.com/accounts/answer/61416?hl=es">soporte de Google.</a></p>
      <h2>Actualizaciones en la Política de Cookies</h2>
        <p>Nuestro portal puede modificar esta Política de Cookies en función de exigencias legislativas, reglamentarias, o con la finalidad de adaptar dicha política a las instrucciones dictadas por la Agencia Española de Protección de Datos, por lo que se aconseja a los usuarios que la visiten periódicamente.</p>
    </div>
  </div>

{% endblock %}
