{% extends 'libreborme/base.html' %}

{% block content %}
  <div class="jumbotron">
    <div class="container">
      <h1>LibreBORME</h1>
      <p class="lead">Plataforma web para la consulta y el análisis del <strong>Boletín Oficial del Registro Mercantil</strong></p>
      <p>LibreBORME nace con la intención de «abrir» los datos del Registro Mercantil de España. Aprovechando que
          <a href="http://elpais.com/diario/2008/01/03/ciberpais/1199330666_850215.html">desde 2009</a> se publica el
          <strong><span style="border-bottom: 2px dotted #ba0000;" title="Similar al BOE donde se publican a diario las leyes, en el BORME se publican cambios en sociedades">BORME</span></strong>
          en formato electrónico, LibreBORME se encarga de <i>leérselo</i> por ti cada mañana y añadir a su base de datos los
          últimos cambios. De esta manera tú puedes hacer búsquedas semánticas, recibir notificaciones y usar estos datos de
          manera sencilla y para lo que quieras.</p>
      <p><a class="btn btn-lg btn-success" href="{% url 'borme-home' %}" role="button">Comienza a usarlo</a></p>
    </div>
  </div>

  <div class="container">

    <div class="row">

      <div class="col-lg-4">
        <h2>Historia <i class="glyphicon glyphicon-info-sign"></i></h2>
        <p>LibreBORME nace en 2014 como Proyecto de Fin de Carrera de un estudiante cotutorizado por la <a href="http://www.informatica.uma.es/">Universidad de Málaga</a> y <a href="http://www.civio.es/">Fundación Ciudadana Civio</a>.</p>
        <p><a class="btn btn-primary" href="https://pablog.me/blog/2015/02/que-es-libreborme/" role="button">Quiero saber más »</a></p>
      </div>

      <div class="col-lg-4">
        <h2>Casos de uso <i class="glyphicon glyphicon-user"></i></h2>
        <p>LibreBORME permite a periodistas y a abogados investigar las sociedades a las que pertenece una persona y a profesionales conocer mejor la empresa a la que contratan servicios.</p>
        <p>Seguro que tú también puedes encontrarle un uso particular.</p>
      </div>

      <div class="col-lg-4">
        <h2>Desarrolladores <i class="glyphicon glyphicon-wrench"></i></h2>
        <p>LibreBORME es software libre y su código fuente está accesible en <a href="https://github.com/PabloCastellano/libreborme">GitHub</a> bajo la licencia <a href="https://www.gnu.org/licenses/agpl-3.0.html">Affero GPL v3</a>.</p>
        <p>LibreBORME cuenta con una <strong>API</strong> que hace posible integrar sus datos en aplicaciones y webs externas.</p>
        <p><a class="btn btn-primary" href="https://github.com/PabloCastellano/libreborme" role="button">Ver detalles »</a></p>
      </div>

    </div>

    <div class="footer">
      <p>© Desarrolladores de LibreBORME 2014-2015 <i>(version: <a href="https://github.com/PabloCastellano/libreborme/commit/{{ version }}">git-{{ version }}</a>)</i></p>
    </div>

  </div> <!-- /container -->
{% endblock %}
