{% extends 'borme/base2.html' %}
{% load compress %}
{% load staticfiles %}
{% comment %}
- loren ipsum
- anchor.js
- <h1>Servicios</h1>

  <p>Desde <strong>LibreBORME</strong> ofrecemos servicios relacionados con los datos del registro mercantil.
  Algunos de los servicios que ofrecemos son:
  <ul>
    <li>Integración de los datos de LibreBORME a través de la API.</li>
    <li>Cruce de datos con otra aplicación.</li>
    <li>Acceso a la API para un gran número de peticiones.</li>
  </ul>
  </p>

  <p>Si estás interesado en en algún tipo de colaboración, <a href="{% url "contact" %}"><strong>contáctanos sin compromiso</strong></a>.</p>
{% endcomment %}

{% block title %} Servicios | LibreBORME{% endblock %}

{% block extrastyles %}
{% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'assets/css/servicios.scss' %}">
{% endcompress %}
{% endblock %}

{% block content %}
<div class="view-servicios mt-4">
    <section class="contenido-descripcion">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="title-section">
                        <span>|</span>servicios
                    </h1>
                </div>
            </div>
        </div>
    </section>

    <section class="contenido-servicio pt-0">
        <div class="container">
            <div class="row">
                <div class="col-md-2 text-center mb-4">
                    <img src="{% static 'assets/img/servicios/suscribete.png' %}" alt="">
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-12 text-justify">
                            <h3 class="titulo-servicio">Suscríbete</h3>
                            <p class="descripcion-servicio">Mediante el Servicio de Suscripciones recibirás un email cada día con la información mercantil solicitada.</p>
                        </div>
                    </div>
                    <div class="card-deck">
                        <div class="card">
                            <div class="card-body">
                                <h4>Suscripción mensual</h4>
                                <h3>59,99€</h3>
                                <p class="card-text">Pago mensual</p>
                                <hr>
                                <p><img src="{% static 'assets/img/servicios/stick.png' %}" alt="">Un tipo de notificación</p>
                                <p><img src="{% static 'assets/img/servicios/stick.png' %}" alt="">Una provincia</p>
                            </div>
                            <a href="#">
                                <div class="card-footer text-center">
                                    <p>Suscribirme</p>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h4>Suscripción mensual</h4>
                                <h3>179,99€</h3>
                                <p class="card-text">Pago mensual</p>
                                <hr>
                                <p><img src="{% static 'assets/img/servicios/stick.png' %}" alt="">Un tipo de notificación</p>
                                <p><img src="{% static 'assets/img/servicios/stick.png' %}" alt="">Todas las provincia</p>
                            </div>
                            <a href="#">
                                <div class="card-footer text-center">
                                    <p>Suscribirme</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="contenido-servicio bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-2 text-center mb-4">
                    <img src="{% static 'assets/img/servicios/api.png' %}" alt="">
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <h3 class="titulo-servicio">Integración API</h3>
                        <p class="descripcion-servicio">Con la API podrás hacer consultas personalizadas e integrar los datos de LibreBORME en tu sistema. Contáctanos para desarrollos a medida.
                        </p>
                    </div>
                    <div class="card-deck">
                        <div class="card">
                            <div class="card-body">
                                <h4>Starter</h4>
                                <h3>Gratis</h3>
                                <p class="card-text"></p>
                                <hr>
                                <p><img src="{% static 'assets/img/servicios/stick.png' %}" alt="">{{ service_api_free_req_day }} consultas al mes</p>
                                <p><img src="{% static 'assets/img/servicios/stick.png' %}" alt="">Sin soporte técnico</p>
                            </div>
                            <a href="#">
                                <div class="card-footer text-center">
                                    <p>Solicitar API key</p>
                                </div>
                            </a>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h4>Advanced</h4>
                                <h3>79,99€ / mes</h3>
                                <p class="card-text">Pago mensual</p>
                                <hr>
                                <p><img src="{% static 'assets/img/servicios/stick.png' %}" alt="">{{ service_api_advanced_req_day }} consultas al día</p>
                                <p><img src="{% static 'assets/img/servicios/stick.png' %}" alt="">Sin soporte técnico</p>
                            </div>
                            <a href="#">
                                <div class="card-footer text-center">
                                    <p>Suscribirme</p>
                                </div>
                            </a>
                        </div>
                        {% comment %}
                        <div class="card">
                            <div class="card-body">
                                <h4>Advanced</h4>
                                <h3>799,99€ / mes</h3>
                                <p class="card-text">Pago anual</p>
                                <hr>
                                <p><img src="{% static 'assets/img/servicios/stick.png' %}" alt="">{{ service_api_free_advanced_day }} consultas al día</p>
                                <p><img src="{% static 'assets/img/servicios/stick.png' %}" alt="">Sin soporte técnico</p>
                            </div>
                            <a href="{% url 'buy-product' product=plan_year.nickname %}">
                                <div class="card-footer text-center">
                                    <p>Suscribirme (anual)</p>
                                </div>
                            </a>
                        </div>
                        {% endcomment %}
                        <div class="card">
                            <div class="card-body">
                                <h4>Pro</h4>
                                <h3>Contáctanos</h3>
                                <p class="card-text"></p>
                                <hr>
                                <p><img src="{% static 'assets/img/servicios/stick.png' %}" alt="">Más de {{ service_api_advanced_req_day }} consultas al día</p>
                                <p><img src="{% static 'assets/img/servicios/stick.png' %}" alt="">Soporte técnico 24x7</p>
                                <p><img src="{% static 'assets/img/servicios/stick.png' %}" alt="">SLA</p>
                            </div>
                            <a href="#">
                                <div class="card-footer text-center">
                                    <p>Suscribirme</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="contenido-servicio">
        <div class="container">
            <div class="row">
                <div class="col-md-2 text-center mb-4">
                    <img src="{% static 'assets/img/servicios/alert.png' %}" alt="">
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <h3 class="titulo-servicio">Activar alertas</h3>
                        <p class="descripcion-servicio">Mediante el Servicio de Seguimiento recibirás un email cada vez que una persona o una empresa monitoreada aparezca en un Boletín Oficial</p>
                        <p class="descripcion-servicio">Puedes probar el servicio de forma gratuita con 3 personas y empresas de tu elección.</p>
                    </div>
                    <div class="card-deck">
                        <div class="card">
                            <div class="card-body">
                                <h4>Bono de alertas</h4>
                                <h3>2,99€ / mes</h3>
                                <p class="card-text">Pago anual</p>
                                <hr>
                                <p><img src="{% static 'assets/img/servicios/stick.png' %}" alt="">Bono de {{ max_alertas_follower_paid }} alertas</p>
                            </div>
                            <a href="#">
                                <div class="card-footer text-center">
                                    <p>Suscribirme</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
{% endblock %}
