{% extends "base_generic.html" %}
{% load staticfiles %}
{% block content %}

<div class="loginmodal-container">
  <div class="loginmodal-logo">
    <img src="{% static 'libreborme_logo.png' %}"><br>
  </div><br>

  <h3>Registro completado</h3>

  <p>Hemos verificado tu correo electrónico. Ahora puedes entrar a tu panel de usuario.</p>

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <input type="email" class="form-control" id="id_username" maxlength="254" name="username" placeholder="Correo electrónico" required>
    <input id="id_password" name="password" type="password" placeholder="Contraseña"/>
    <input type="hidden" name="next" value="" />
    <input type="submit" name="login" class="login loginmodal-submit" value="Entrar">
  </form>
</div>

{% endblock %}
