{% extends "base_generic.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
    Registro | LibreBORME
{% endblock %}

{% block content %}

<div class="loginmodal-container">
  <div class="loginmodal-logo">
    <img src="{% static 'libreborme_logo.png' %}"><br>
  </div><br>

  <div class="form-group">
    <form method="post" action=".">
      {% csrf_token %}
      {{ form.as_p }}
      <input class='btn btn-primary' type="submit" value="Registrarme" />
    </form>
  </div>

</div>

{% endblock %}
