{% extends "base_generic.html" %}
{% comment %}
molaría poner el {{ user.email }} pero user es AnonymousUSer
{% endcomment %}
{% load i18n %}
{% load staticfiles %}

{% block content %}

<div class="loginmodal-container">
  <div class="loginmodal-logo">
    <img src="{% static 'libreborme_logo.png' %}"><br>
  </div><br>

  <h3>Ya casi estamos...</h3>

  <p>Necesitamos verificar que la dirección de correo electrónico que has usado existe. Revisa tu cuenta, allí tendrás un enlace para confirmar la verificación</p>
  <p>No te olvides de comprobar si ha ido a la carpeta de spam, a veces pasa.</p>

  <p>Volver a la <a href="{% url 'borme-home' %}">página principal</a>.</p>
</div>

{% endblock %}
