Django==1.7.4
Fabric==1.10.1
argparse==1.2.1
django-debug-toolbar==1.2.2
ecdsa==0.13
greenlet==0.4.5
lxml==3.4.2
mongodbforms==0.3
mongoengine==0.8.7
mongogeneric==0.1a
paramiko==1.15.2
pdfminer==20140328
pyPdf==1.13
pycrypto==2.6.1
pymongo==2.8
requests==2.5.1
six==1.9.0
sqlparse==0.1.14
wsgiref==0.1.2
