# This is an example file.
# Rename this to local_settings.py and edit it there

from settings import *


STATICFILES_DIRS = (
    '/home/libreborme/libreborme/libreborme/static/',
)

STATICFILES_FINDERS = (
    'django.contrib.staticfiles.finders.FileSystemFinder',
    'django.contrib.staticfiles.finders.AppDirectoriesFinder',
    #'django.contrib.staticfiles.finders.DefaultStorageFinder',
)

TEMPLATE_DIRS = (
    '/home/libreborme/libreborme/libreborme/templates/',
    '/home/libreborme/libreborme/borme/templates/',
)

FIXTURE_DIRS = (
    '/home/pablo/src/libreborme/libreborme/fixtures/',
)

SECRET_KEY = '41+h()yq5-!*=)sh+_%4wal8=+*e)dlrau*81odpu7n&9^7d5h'
