{% load staticfiles %}
{% comment %}
- loren ipsum
- cookies
{% endcomment %}

<section class="cookies cookies-panel">
    <div class="container-fluid" id="headerCookies" style="display:none">
        <div class="row align-items-center">
            <div class="col-md-8">
                <p>Librebor.me utiliza cookies para que tengas la mejor experiencia de navegación. Si sigues navegando entendemos que aceptas nuestra política de cookies.</p>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col">
                        <a href="{% url 'cookies' %}"><button type="button" class="btn btn-white btn-more-info" data-dismiss="modal">Más información</button></a>
                    </div>
                    <div class="col">
                        <a href="#"><button type="button" class="btn btn-white cookies-header-close" data-dismiss="modal">Entendido</button></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
