{% load staticfiles %}
{% comment %}
- loren ipsum
- cookies
{% endcomment %}

<section class="cookies cookies-panel">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-8">
                <p>Quietooor magna esse qui torpedo adipisicing. Cillum a peich labore ut labore sit amet consectetur. Papaar papaar commodo adipisicing cillum amatomaa qui veniam aute labore. Jarl apetecan qui officia labore ex voluptate me cago en tus muelas aute. Qui por la gloria de mi madre dolore pupita no te digo trigo por no llamarte Rodrigor ese pedazo de.</p>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-white btn-more-info" data-dismiss="modal">Más información</button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Entiendo</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
