{% load staticfiles %}
{% comment %}
- can be merged with navbar from borme, just needs to hide Area personal / servicios
{% endcomment %}

<header>
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light border-bottom">
        <a class="navbar-brand" href="{% url 'borme-home' %}">
            <img src="{% static 'assets/img/logo.svg' %}" alt="" id="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav position-navbar">
                <li class="nav-item">
                    <a class="nav-link{% if active == 'cart' %} active{% endif %}" href="{% url 'alertas-cart' %}"><i class="fas fa-shopping-cart"></i> Cesta{% if num_cart > 0 %} <span class="badge badge-pill badge-dark">{{ num_cart }}</span>{% endif %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if active == 'ayuda' %} active{% endif %}" href="{% url 'alertas-ayuda' %}">Soporte</a>
                </li>
                <li class="nav-item dropdown menu-panel-user d-none d-md-block">
                    <a class="nav-link" href="#" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <img src="{% static 'assets/img/menu-panel/cuenta.svg' %}" alt="" class="img-navbar-account">
                        {% if user.get_full_name %}
                        <span>{{ user.get_full_name }}</span>
                        {% else %}
                        <span>{{ user.email }}</span>
                        {% endif %}
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
