{% load staticfiles %}
{% comment %}
- libreborne.css
- can be merged with navbar from borme, just needs to hide Area personal / servicios

{% endcomment %}

<header>
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light border-bottom">
        <a class="navbar-brand" href="{% url 'borme-home' %}">
            <img src="{% static 'assets/img/logo.svg' %}" alt="" id="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav position-navbar">
                <li class="nav-item dropdown menu-panel-user">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="{% static 'assets/img/menu-panel/cuenta.svg' %}" alt="" class="img-navbar-account">
                        {% if user.is_authenticated %}
                            <span>{{ user }}</span>
                        {% else %}
                            <span>Sin conexión</span>
                        {% endif %}
                    </a>
                    {% if user.is_authenticated %}
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if user.is_staff %}
                        <a class="dropdown-item" href="/admin">Admin</a>
                        {% endif %}
                        <a class="dropdown-item" href="{% url 'dashboard-index' %}">Mi cuenta</a>
                        <a class="dropdown-item" href="#">Facturas</a>
                        <a class="dropdown-item" href="#">Métodos de pago</a>
                        <a class="dropdown-item" href="#">Seguimiento</a>
                        <a class="dropdown-item" href="#">Subscripciones</a>
                        <a class="dropdown-item" href="#">Api</a>
                        <a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a>
                    </div>
                    {% endif %}
                </li>
            </ul>
        </div>
    </nav>
</header>
