{% load staticfiles %}
<div class="sidebar-sticky">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link{% if active == 'dashboard' %} active font-weight-bold{% endif %}" href="{% url 'dashboard-index' %}">
                <img src="{% static 'assets/img/menu-panel/cuenta.svg' %}" alt="" class="feather feather-home">
                Mi cuenta
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if active == 'profile' %} active font-weight-bold{% endif %}" href="{% url 'alertas-profile' %}">
                <img src="{% static 'assets/img/menu-panel/cuenta.svg' %}" alt="" class="feather feather-home">
                Mi perfil
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if active == 'billing' %} active font-weight-bold{% endif %}" href="{% url 'alertas-billing' %}">
                <img src="{% static 'assets/img/menu-panel/facturas.svg' %}" alt="" class="feather feather-home">
                Facturas
            </a>
        </li>
        {% comment %}
        <li class="nav-item">
            <a class="nav-link{% if active == 'payment' %} active font-weight-bold{% endif %}" href="{% url 'alertas-payment' %}">
                <img src="{% static 'assets/img/menu-panel/metodo_pago.svg' %}" alt="" class="feather feather-home">
                Métodos de pago
            </a>
        </li>
        {% endcomment %}
    </ul>

    <h6 class="sidebar-heading px-3 mt-4 mb-1 text-muted">
        <span>Servicios</span>
    </h6>
    <ul class="nav flex-column mb-2">
        <li class="nav-item">
            <a class="nav-link{% if active == 'alertas' %} active font-weight-bold{% endif %}" href="{% url 'service-follow' %}">
                <img src="{% static 'assets/img/menu-panel/seguimiento.svg' %}" alt="" class="feather feather-home">
                Seguimiento
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if active == 'subscription' %} active font-weight-bold{% endif %}" href="{% url 'service-subscription' %}">
                <img src="{% static 'assets/img/menu-panel/subscripciones.svg' %}" alt="" class="feather feather-home">
                Suscripciones
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if active == 'api' %} active font-weight-bold{% endif %}" href="{% url 'service-api' %}">
                <img src="{% static 'assets/img/menu-panel/api.svg' %}" alt="" class="feather feather-home">
                API
            </a>
        </li>
    </ul>

    {% if user.is_staff %}
    <ul class="nav flex-column mb-2">
        <li class="nav-item">
            <a class="nav-link{% if active == 'history' %} active font-weight-bold{% endif %}" href="{% url 'alertas-history' %}" style="color: #B9021D">
                <img src="{% static 'assets/img/menu-panel/seguimiento.svg' %}" alt="" class="feather feather-home">
                Historial de alertas
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if active == 'events' %} active font-weight-bold{% endif %}" href="{% url 'alertas-events' %}" style="color: #B9021D">
                <img src="{% static 'assets/img/menu-panel/subscripciones.svg' %}" alt="" class="feather feather-home">
                Eventos
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if active == 'stripe' %} active font-weight-bold{% endif %}" href="{% url 'alertas-stripe' %}" style="color: #B9021D">
                <img src="{% static 'assets/img/menu-panel/subscripciones.svg' %}" alt="" class="feather feather-home">
                Stripe
            </a>
        </li>
    </ul>
    {% endif %}

    <ul class="nav flex-column mb-2 mt-3">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">
                <img src="{% static 'assets/img/menu-panel/cerrar_sesion.svg' %}" alt="" class="feather feather-home">
                Cerrar sesión
            </a>
        </li>
    </ul>
</div>
</nav>
