                {% url 'borme-fecha' cargo.date_from as url_from %}
                {% url 'borme-fecha' cargo.date_to as url_to %}
                <tr>
                    <td>{{ cargo.title }}</td>
                    <td>{{ cargo | link_to_entity | safe }}</td>
                    <td><a href="{% url 'borme-fecha' cargo.date_from %}">{{ cargo.date_from }}</a></td>

                    {% if url_to %}
                        <td><a href="{{ url_to }}">{{ cargo.date_to }}</a></td>
                    {% else %}
                        <td>Actualidad</td>
                    {% endif %}
                </tr>
