body {
  padding-top: 0px;
  padding-bottom: 100px;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: rgba(255, 255, 255, .9);
}

footer img[src*="agpl"] {
  height: 20px;
  margin-right: 20px;
}

.footer {
  padding-top: 20px;
  padding-bottom: 10px;
  margin-top: 40px;
  border-top: 1px solid #eee;
  z-index: 2;
}

.container {

}

.header1 {
  background-color: #EEE;	
}

.header1 a {
}

.header1 a img{
  width: 180px;
  margin: 5px 10px 3px 20px;
}

.header1 input[name="q"] {
  padding-right: 50px;
  margin-right: -44px;
}

.header1 button[type="submit"] {
  border: none;
  margin-right: 20px;
  background-color: #EEE;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 1px solid #DDD;
}

ul:not(.pagination) {
  list-style-type: none;
  padding: 0;
}

ul:not(.pagination) li {
    border-bottom: 1px solid #DDD;
    padding: 10px;
}

ul li:last-of-type{
  border: none;
}

ul li:hover {
  background-color: #EEE; 
}

h2 i.glyphicon {
  font-size: .6em;
}

.jumbotron {
  padding-top: 20px;
  background-color: #EEE;
}

.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}



td.sat {
  background-color: lightgray;
}

td.sun {
  background-color: lightgray;
}

td.today {
  background-color: lightgreen;
}

td.day:hover {
  background-color: lightblue;
}

table.month > tbody > tr > th {
	padding: 4px;
}