body {
  padding-top: 0px;
  padding-bottom: 100px;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: rgba(255, 255, 255, .9);
}

footer img[src*="agpl"] {
  height: 20px;
  margin-right: 20px;
}

footer .footerlogo {
  margin-right: 20px;
}

.footer {
  padding-top: 20px;
  padding-bottom: 10px;
  margin-top: 40px;
  border-top: 1px solid #eee;
  z-index: 2;
}

.container {

}

.header1 {
  background-color: #EEE;
}

.header1 a {
}

.header1 a img{
  width: 180px;
  margin: 5px 10px 3px 20px;
}

.header1 input[name="q"] {
  padding-right: 50px;
  margin-right: -44px;
}

.header1 button[type="submit"] {
  border: none;
  margin-right: 20px;
  background-color: #EEE;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 1px solid #DDD;
}

ul:not(.pagination) {
  list-style-type: none;
  padding: 0;
}

ul:not(.pagination) li {
    border-bottom: 1px solid #DDD;
    padding: 10px;
}

ul li:last-of-type{
  border: none;
}

ul li:hover {
  background-color: #EEE;
}

h2 i.glyphicon {
  font-size: .6em;
}

.jumbotron {
  padding-top: 20px;
  background-color: #EEE;
}

.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

td.sat {
  background-color: lightgray;
  color: darkgray;
}

td.sun {
  background-color: lightgray;
  color: darkred;
}

td.today {
  border-bottom: 1px dashed red;
}

td.day {
  text-align: center;
}

td.day:hover {
  background-color: lightblue;
}

td.bormeday {
  font-weight: bold;
  text-decoration: underline;
}

td.nobormeday {
  text-align: center;
  color: darkgray;
}

td.selected {
  background-color: lightgreen;
  border: none;
}

td.nobormeday:hover {
  background-color: lightblue;
}

table.calendar > tbody > tr > th {
	padding: 4px;
}

.calendar caption {
  color: white;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 0px;
  background-color: darkred;
  border-radius: 5px 5px 0px 0px;
}

td.calendar {
  color: gray;
}

.calendar {
  cursor:pointer;
  padding-top: 10px;
}

table.year {
  border-spacing: 30px;
  border-collapse: separate;
}

.limiter {
    margin: 0 auto;
    width: 993px;
}

.header-buttonline {
    display: inline-block;
}

.header-message {
    display: inline-block;
    font-size: 12px !important;
    font-weight: bold;
    margin-left: 5px;
    padding: 10px 0;
}

#headerCookies {
    background-color: #5A5A5A;
    border-bottom: 1px solid #CCC;
    box-shadow: 0 0 2px #CCC;
    color: white;
}

#headerCookies a {
  color: darkgray;
}

#headerCookies button {
  font-weight: bold;
  background-color: black;
  border-color: black;
}

#headerCookies p {
    margin: 2px;
    padding: 0
}

.roundcorners {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
}

.subscribe-btn {
  text-decoration:none;
  background:#2D3E4F;
  color:white;
  font-family:Lato, Helvetica, Arial, sans-serif;
  font-size:16px;
  font-weight:normal;
  line-height:120%;
  text-transform:none;
  margin:0px;

  border:none;
  border-radius:6px;
  color:white;
  cursor:auto;
  padding:16px 24px;
  cursor: pointer !important;
}

.subscribe-btn:hover {
  background-color: #1A242F;
  text-decoration:none;
  color:white;
}

.newsletter {
  background-color: #EEE;
  padding: 5px 10px 20px 10px;
}

.newsletter-row {
  padding: 10px 15px 10px 15px;
}
