.color-red-dark {
  color: #B9021D; }

.btn-primary {
  background-color: #B9021D;
  border-color: #B9021D;
  color: #B9021D; }

.btn-primary:hover {
  color: #fff;
  background-color: #B9021D !important;
  border-color: #B9021D; }

.btn-transparent {
  background-color: transparent !important; }

.btn-secondary {
  color: #222222;
  background-color: transparent;
  border-color: #222222; }

.btn-secondary:hover {
  color: #fff;
  background-color: #222222;
  border-color: #222222; }

.btn-white {
  color: white;
  background-color: transparent;
  border-color: white; }

.btn-secondary:hover {
  color: #fff;
  background-color: white;
  border-color: white; }

#myCarousel {
  margin-bottom: 0; }
  #myCarousel .carousel-caption {
    top: 20%; }
    #myCarousel .carousel-caption .logo-banner {
      width: 333px;
      margin-bottom: 30px; }
  #myCarousel .carousel-item img {
    left: -10px; }
  #myCarousel h1 {
    font-size: 32px;
    font-weight: bold;
    color: #222222; }

section {
  padding: 40px 0; }

section.banner-consulta {
  background: #b9021d;
  background: -moz-linear-gradient(left, #b9021d 0%, #e0435a 21%, #e0435a 77%, #b9021d 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #b9021d 0%, #e0435a 21%, #e0435a 77%, #b9021d 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #b9021d 0%, #e0435a 21%, #e0435a 77%, #b9021d 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b9021d', endColorstr='#b9021d',GradientType=1 );
  /* IE6-9 */ }
  section.banner-consulta h1 {
    font-size: 24px;
    font-weight: bold; }
  section.banner-consulta p {
    font-size: 16px; }

section.featured-section img {
  height: 115px; }
section.featured-section h2 {
  font-size: 24px;
  color: #222222;
  margin: 25px 0; }
section.featured-section p {
  font-size: 12px;
  width: 85%;
  margin: 0 auto; }

section.services {
  background-color: #F5F5F5; }
  section.services .circle-img {
    width: 147px;
    height: 147px;
    background-color: white;
    margin: 0 auto;
    border-radius: 100px; }
    section.services .circle-img img {
      margin-top: 20px; }
  section.services h2 {
    font-size: 24px;
    color: #B9021D;
    margin: 25px 0; }
  section.services p {
    font-size: 12px;
    width: 85%;
    margin: 0 auto; }
  section.services h3 {
    font-size: 16px; }

section.newsletter {
  padding: 23px;
  height: auto;
  background-color: #B9021D; }
  section.newsletter h3 {
    font-size: 24px;
    font-weight: bold; }
  section.newsletter input {
    border-radius: 5px 0 0 5px;
    padding: 0 0 0 30px;
    border: none;
    width: 100%; }
  section.newsletter .text-field {
    width: 300px;
    height: 44px;
    line-height: 44px; }
  section.newsletter .common-buttons button {
    border-radius: 0 5px 5px 0;
    border: none;
    padding: 0 50px;
    height: 44px;
    line-height: 44px;
    width: 100%;
    margin: 0 auto;
    background: #222222;
    box-shadow: none;
    font-size: 14px;
    font-weight: 200;
    color: #FFF;
    text-transform: uppercase;
    font-family: 'Varela Round', sans-serif;
    display: inline-block; }
  section.newsletter .li-form {
    margin-left: 50px; }
  section.newsletter form div {
    display: flex; }

.view-servicios section.contenido-servicio {
  background-color: white; }
  .view-servicios section.contenido-servicio .titulo-servicio {
    font-size: 24px;
    font-weight: bold;
    color: #B9021D; }
  .view-servicios section.contenido-servicio .descripcion-servicio {
    font-size: 12px; }
  .view-servicios section.contenido-servicio .card {
    border-radius: 10px;
    max-width: 240px; }
    .view-servicios section.contenido-servicio .card h4 {
      font-size: 12px;
      text-transform: uppercase; }
    .view-servicios section.contenido-servicio .card h3 {
      font-size: 25px;
      font-weight: bold; }
    .view-servicios section.contenido-servicio .card p {
      font-size: 12px;
      font-weight: lighter;
      margin-bottom: 0; }
    .view-servicios section.contenido-servicio .card img {
      margin-right: 10px; }
    .view-servicios section.contenido-servicio .card .card-footer {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      background-color: #B9021D;
      border-top: 1px solid #B9021D; }
      .view-servicios section.contenido-servicio .card .card-footer p {
        font-size: 12px;
        color: white;
        margin-bottom: 0; }

.view-contacto .contenido-descripcion h3 {
  font-size: 14px;
  font-weight: bold; }
.view-contacto .contenido-descripcion .text-description-contact {
  font-size: 12px; }
.view-contacto .form-control {
  background-color: #F5F5F5; }

.modal-login .modal-body {
  padding: 30px 0; }
.modal-login .text-header {
  font-size: 18px;
  font-weight: bold;
  padding-top: 3px;
  margin-bottom: -10px;
  color: #222222; }
  .modal-login .text-header img {
    margin-left: 10px;
    position: relative;
    top: -6px; }
.modal-login .form-control {
  background-color: #F5F5F5; }
.modal-login .no-user {
  font-size: 14px;
  font-weight: bold;
  color: #222222; }

.view-search .section-title-result-search {
  background-color: #fcfdfc;
  padding: 20px 0 10px; }
  .view-search .section-title-result-search .title-section-result-search {
    font-size: 20px;
    font-weight: bold;
    color: #626262; }
.view-search .input-group-text {
  background-color: #B9021D;
  border: 1px solid #B9021D;
  color: white; }
.view-search .line-tabs hr {
  position: relative;
  width: 100%;
  top: 55px; }
.view-search .background-result {
  background-color: #fafafa; }
.view-search .table-icon img {
  width: 30px; }
.view-search .nav-tabs .nav-item.show .nav-link, .view-search .nav-tabs .nav-link.active {
  color: #B9021D;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff; }
.view-search .nav-item a {
  color: #626262; }
.view-search .page-link {
  color: #626262; }
.view-search .page-item.active .page-link {
  z-index: 1;
  color: #B9021D;
  background-color: transparent;
  border-color: #dee2e6; }

.view-details .section-title-result-details {
  background-color: #fcfdfc;
  padding: 20px 0 0px; }
  .view-details .section-title-result-details h1 {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: bold;
    color: #222222;
    position: relative;
    top: 3px; }
.view-details .background-result {
  background-color: #fafafa; }
.view-details .tab-view-details .ul-resum li p {
  font-size: 12px; }
.view-details .table-company-information td, .view-details .table-company-information th {
  padding: 5px;
  border-top: 1px solid transparent; }
.view-details .table-company-information tbody tr th {
  color: #222222; }
.view-details .table-executive-positions th {
  border-top: 1px solid transparent; }
.view-details .card-header {
  font-size: 16px;
  font-weight: bold;
  background-color: #EEEEEE;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125); }
  .view-details .card-header img {
    width: 30px;
    margin-right: 15px; }
.view-details .line-tabs hr {
  position: relative;
  width: 100%;
  top: 55px; }
.view-details .nav-tabs .nav-item.show .nav-link, .view-details .nav-tabs .nav-link.active {
  color: #B9021D;
  background-color: #fbfbfb;
  border-color: #dee2e6 #dee2e6 #fbfbfb; }
.view-details .nav-item a {
  color: #626262; }
.view-details .card.official-bulletins .description {
  font-size: 12px; }
.view-details .card.official-bulletins h3 {
  font-size: 14px;
  font-weight: bold; }
.view-details .card.official-bulletins .hr-official-bulletins {
  top: 0;
  margin: 0 0 10px; }
.view-details .card.official-bulletins label {
  font-size: 12px; }
.view-details .section-roadmap .line-roadmap:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  left: 140px;
  top: 0;
  background: #626262; }
.view-details .section-roadmap .item-roadmap {
  position: relative; }
  .view-details .section-roadmap .item-roadmap .box-date {
    border: 1px solid #DDDDDD;
    width: 110px;
    padding: 10px;
    height: 70px; }
    .view-details .section-roadmap .item-roadmap .box-date h1 {
      font-size: 26px;
      font-weight: bold;
      margin-bottom: 0; }
  .view-details .section-roadmap .item-roadmap .box-date:after {
    content: '';
    width: 15px;
    height: 15px;
    background: #fff;
    border: 2px solid #626262;
    border-radius: 50%;
    position: absolute;
    top: 0;
    margin-left: 107px; }
  .view-details .section-roadmap .item-roadmap .box-content {
    margin-left: 70px;
    width: 100%;
    border: solid 1px #DDDDDD; }
    .view-details .section-roadmap .item-roadmap .box-content .item-content {
      padding: 20px; }
      .view-details .section-roadmap .item-roadmap .box-content .item-content hr {
        top: 0; }
      .view-details .section-roadmap .item-roadmap .box-content .item-content h3 {
        color: #222222;
        font-size: 14px;
        font-weight: bold; }
      .view-details .section-roadmap .item-roadmap .box-content .item-content h1 {
        color: #B9021D;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 0; }
      .view-details .section-roadmap .item-roadmap .box-content .item-content p {
        font-size: 12px; }

@media (min-width: 300px) and (max-width: 767px) {
  .view-details .section-roadmap .item-roadmap .box-date {
    width: 140px; } }
@media (max-width: 768px) {
  #myCarousel .carousel-caption .logo-banner {
    width: 100%;
    margin-bottom: 30px; }

  section.newsletter {
    height: auto; }
    section.newsletter .li-form {
      margin-left: 0; }
    section.newsletter .img-search {
      padding: 0 10px !important; }
      section.newsletter .img-search img {
        width: 20px; }

  section.footer {
    height: auto !important; }

  section.cookies {
    bottom: 0 !important; }

  section.cookies-panel {
    bottom: 0 !important; } }
.cookies-panel {
  z-index: 100; }

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom; }

/*
 * Sidebar
 */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  /* Behind the navbar */
  padding: 60px 0 0;
  /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1); }

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */ }

@supports (position: -webkit-sticky) or (position: sticky) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky; } }
.sidebar .nav-link {
  font-weight: 500;
  color: #333; }

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999; }

.sidebar .nav-link.active {
  color: #B9021D; }

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit; }

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
  border-bottom: solid 1px #95989A; }

/*
 * Content
 */
[role="main"] {
  padding-top: 133px;
  /* Space for fixed navbar */
  margin-bottom: 50px; }

@media (min-width: 768px) {
  [role="main"] {
    padding-top: 48px;
    /* Space for fixed navbar */ } }
.view-panel .title-section {
  font-size: 21px;
  font-weight: bold;
  text-transform: none;
  border-bottom: solid 1px #DDDDDD;
  padding-bottom: 10px; }
.view-panel .subtitle-panel {
  font-size: 14px;
  font-weight: bold;
  color: #222222; }
.view-panel p.description {
  font-size: 12px; }
.view-panel .form-control {
  font-size: 14px; }
.view-panel .change-pass {
  font-size: 12px;
  color: #B9021D; }
.view-panel label.form-check-label {
  font-size: 14px; }
.view-panel .subtext-form-check-label {
  font-size: 12px; }
.view-panel .sidebar-sticky img {
  width: 20px;
  height: 20px; }

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #626262;
  padding-bottom: 0;
  padding-top: 2rem; }

.btn {
  width: 115px;
  height: 28px;
  font-size: 14px;
  font-weight: bold;
  padding: 3px 0 0; }

header .dropdown-item {
  font-size: 14px;
  color: #626262; }
header .img-navbar-account {
  width: 20px; }
header .navbar-brand img {
  width: 164px; }
header .position-navbar {
  justify-content: flex-end;
  width: 100%; }
header .navbar-nav .nav-link {
  padding: 4px 0;
  padding-left: 30px !important;
  padding-right: 30px !important; }
header .bg-light {
  background-color: #EEEEEE !important; }
header .navbar-light .navbar-nav .nav-link {
  color: #626262 !important; }

.slide-servicios img {
  width: 75px;
  margin-right: 20px; }
.slide-servicios span {
  font-size: 18px;
  color: #B9021D;
  font-weight: bold; }

.view-404 h2 {
  font-size: 32px;
  font-weight: bold;
  color: #222222; }
.view-404 .descripcion-404 {
  font-size: 12px; }

section.footer {
  height: 295px;
  background-color: #222222; }
  section.footer .col-footer h3 {
    color: white;
    font-size: 20px;
    font-weight: bold; }
  section.footer .col-footer a {
    font-size: 14px;
    color: #F5F5F5; }
  section.footer .col-footer li {
    margin-bottom: 10px; }
  section.footer img {
    width: 110px; }
  section.footer p {
    font-size: 12px;
    color: #DDDDDD; }
  section.footer hr {
    border-top: 1px solid #626262;
    margin-top: 40px; }
  section.footer .ul-bottom-footer {
    margin-bottom: 0; }

section.cookies {
  padding: 10px 0 0;
  position: fixed;
  bottom: 0;
  background-color: #222222; }
  section.cookies p {
    font-size: 12px;
    color: white; }
  section.cookies .btn-more-info {
    width: auto;
    padding: 3px 20px;
    margin-right: 10px; }

.title-section {
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: solid 1px #DDDDDD;
  padding-bottom: 10px; }
  .title-section span {
    font-size: 24px;
    margin-right: 5px; }

/*# sourceMappingURL=libreborne.css.map */
