.cookies-panel {
  z-index: 100;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}
/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 60px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: $red-dark;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
  span {
    border-bottom: 1px solid #95989A;
    width: 100%;
    display: inline-block;
  }
}

/*
 * Content
 */

[role="main"] {
  padding-top: 133px; /* Space for fixed navbar */
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  [role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
  }
}

.view-panel {
  .form-control {
    background-color: #F5F5F5;
  }
  .custom-select {
    background-color: #F5F5F5 !important;
  }
  .title-section {
    font-size: 21px;
    font-weight: bold;
    text-transform: none;
    border-bottom: solid 1px #DDDDDD;
    padding-bottom: 10px;
  }
  .subtitle-panel {
    font-size: 14px;
    font-weight: bold;
    color: $color-dark;
  }
  p.description {
    font-size: 14px;
  }
  .form-control {
    font-size: 14px;
  }
  .change-pass {
    font-size: 12px;
    color: $red-dark;
  }
  label.form-check-label {
    font-size: 14px;
  }
  .subtext-form-check-label {
    font-size: 12px;
  }
  .sidebar-sticky {
    img {
      width: 20px;
      height: 20px;
    }
  }
}
