@media (max-width: 768px) {
  #myCarousel {
    .carousel-caption {
      top: 5%;
      .logo-banner {
        width: 100%;
        margin-bottom: 30px;
      }
    }
  }
  section.newsletter {
    height: auto;
    .li-form {
      margin-left: 0;
    }
    .img-search {
      padding: 0 10px !important;
      img {
        width: 20px;
      }
    }
    .text-field {
      width: 100%;
    }
  }

  section.footer {
    height: auto !important;
  }
  section.cookies {
    bottom: 0 !important;
  }
  section.cookies-panel {
    bottom: 0 !important;
  }
  .view-details {
    .stats-details {
      margin: 20px 0 20px 0 !important;
    }
    .section-roadmap {
      .line-roadmap:before {
        left: 33px;
        top: 0;
        background: #626262;
      }
      .item-roadmap {
        display: contents !important;
        .box-date {
          margin-left: 50px;
          margin-bottom: 20px;
        }
        .box-date:after {
          margin-left: -50px;
        }
        .box-content {
          margin-bottom: 20px;
          margin-left: 50px;
          width: auto;
          border: solid 1px #DDDDDD;
        }
      }
    }
  }
  .view-panel {
    .col-legal {
      margin-top: 0 !important;
    }
  }
}

@media (max-width: 991px) {
  section.newsletter {
    height: auto;
  }
}