{% load staticfiles %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <title>Site Maintenance</title>
    <style type="text/css">
      body { text-align: center; padding: 150px; }
      h1 { font-size: 50px; }
      body { font: 20px Helvetica, sans-serif; color: #333; }
      #article { display: block; text-align: left; width: 650px; margin: 0 auto; }
      a { color: #dc8100; text-decoration: none; }
      a:hover { color: #333; text-decoration: none; }
    </style>

</head>
<body>
  <div id="article">
    <img src="https://librebor.me{% static 'libreborme_logo.png' %}">
    <h1>Web en mantenimiento</h1>
    <div>
        <p>Lamentamos informarte de que estamos realizando algunas tareas de mantenimiento en este momento. Esperamos volver a estar operativos lo antes posible. Si lo necesitas, siempre puedes contactarnos en <b>contacto AT libreborme.net</b></p>
        <p>— Librebor.me</p>
    </div>
  </div>

  {% include "matomo.html" %}

</body>
</html>
