    <div class="row newsletter-row">
      <div class="col-lg-9 col-lg-offset-3 newsletter">
        <h2>Boletín informativo</h2>
        <p>Si quieres estar al tanto de las novedades de LibreBORME déjanos tu correo
        electrónico. Tus datos no serán compartidos con terceras partes y será utilizado
        exclusivamente para mantenerte al tanto de información relacionada con LibreBORME
        (noticias, novedades, nuevos servicios, publicaciones en el blog).
        </p>
        <p><a href="https://lists.libreborme.net/subscription/BJK7bzYb7" class="btn btn-primary btn-lg" target="_blank">Suscribirme</a></p>
      </div>
    </div>
