    <div class="row newsletter-row">
      <div class="col-lg-9 col-lg-offset-3 newsletter">
        <h2>¡Suscríbete a la lista de correo!</h2>
        <p>Recibirás todas las novedades de LibreBORME directamente en tu e-mail</p>
        <p>Tus datos no serán compartidos con terceras partes y será utilizado
        exclusivamente para mantenerte al tanto de información relacionada con LibreBORME.
        </p>

      <form class="form-inline">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            </div>
              <input type="text" class="form-control" id="exampleInputName2" placeholder="Nombre">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
						</div>
              <input type="email" class="form-control" id="exampleInputEmail2" placeholder="E-mail">
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-md">Suscribirme</button>
      </form>

			<!--
        <p><a href="https://lists.libreborme.net/subscription/BJK7bzYb7" class="btn btn-primary btn-lg" target="_blank">Suscribirme</a></p>
			-->

      </div>
    </div>
