<form action="/checkout" method="POST">{% csrf_token %}
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="{{ STRIPE_PUBLIC_KEY }}"
    data-email="{{ email }}"
    data-zip-code="true"
    data-billing-address="true"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-name="Libreborme"
    data-label="{{ plan.label }}"
    data-amount="{{ plan.amount }}"
    data-description="Subscripción a Libreborme"
    data-allow-remember-me=false
    data-currency="eur"
    data-locale="auto">
  </script>
</form>
