{% load staticfiles %}
{% comment %}
- datos
{% endcomment %}

<div class="tab-view-details">
        <div class="row">
            <div class="col">
                <ul class="list-inline list-unstyled ul-resum">
                    <li class="list-inline-item">
                        <p class="font-weight-bold mb-0">Última actualización: <span class="font-weight-normal">{{ company.date_updated }}</span></p>
                        <p class="font-weight-bold">Fuente de los datos: <span class="font-weight-normal">Agencia Estatal Boletín Oficial del Estado.</span></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <img src="{% static 'assets/img/table/icon1.svg' %}" alt="">Información de la compañía
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-company-information">
                                <thead>
                                <tr class="d-none">
                                    <th scope="col">#</th>
                                    <th scope="col">First</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row">NIF</th>
                                    <td>{{ company.nif|default:"Desconocido" }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Situación Mercantil</th>
                                    <td>{{ company.get_status_display }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Fecha de constitución</th>
                                    <td>X años ({{ company.date_creation|date|default:"Desconocido" }})</td>
                                </tr>
                                <tr>
                                    <th scope="row">Domicilio</th>
                                    <td>{{ company.domicilio|default:"Desconocido" }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Objeto social </th>
                                    <td>{{ company.objeto|default:"Desconocido" }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Capital</th>
                                    <td>{% if company.capital %}{{ company.capital }} Euros{% else %}Desconocido{% endif %}</td>
                                </tr>
                                {% if company.liquidators %}
                                <tr>
                                    <th scope="row">Liquidador{{ company.liquidators|length|pluralize:"es" }}</th>
                                    <td>{% for liquidator in company.liquidators %} {{ liquidator.name | title }}{% if not forloop.last %}, {% endif %} {% endfor %}</td>
                                </tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row  mt-4">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <img src="{% static 'assets/img/table/icon2.svg' %}" alt="">Cargos Directivos
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-executive-positions">
                                <thead>
                                <tr>
                                    <th scope="col">Cargo</th>
                                    <th scope="col">Persona</th>
                                    <th scope="col">Desde</th>
                                    <th scope="col">Hasta</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Adm. Solid</td>
                                    <td class="color-red-dark">Roberto Cano Díaz</td>
                                    <td class="color-red-dark">2014-11-18</td>
                                    <td>Actualidad</td>
                                </tr>
                                <tr>
                                    <td>Adm. Solid</td>
                                    <td class="color-red-dark">Roberto Cano Díaz</td>
                                    <td class="color-red-dark">2014-11-18</td>
                                    <td>Actualidad</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-12">
                <div class="bd-example">
                    <details>
                        <summary>Cargos no vigentes</summary>
                        <div class="card mt-4">
                            <div class="card-header">
                                <img src="{% static 'assets/img/table/icon2.svg' %}" alt="">Cargos Directivos
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-executive-positions">
                                        <thead>
                                        <tr>
                                            <th scope="col">Cargo</th>
                                            <th scope="col">Persona</th>
                                            <th scope="col">Desde</th>
                                            <th scope="col">Hasta</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Adm. Solid</td>
                                            <td class="color-red-dark">Roberto Cano Díaz</td>
                                            <td class="color-red-dark">2014-11-18</td>
                                            <td>Actualidad</td>
                                        </tr>
                                        <tr>
                                            <td>Adm. Solid</td>
                                            <td class="color-red-dark">Roberto Cano Díaz</td>
                                            <td class="color-red-dark">2014-11-18</td>
                                            <td>Actualidad</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </details>
                </div>
            </div>
        </div>
    </div>
