{% load staticfiles %}
{% comment %}
- box fecha sigue rota
- Detalles del anuncio <a href="{{ anuncio.get_absolute_url }}">{{ anuncio.id_anuncio }}</a>.
- <i>No hay anuncios registrados.</i>
{% endcomment %}
<div class="tab-view-details">
    <div class="row">
        <div class="col">
            <ul class="list-inline list-unstyled ul-resum">
                <li class="list-inline-item">
                    <p class="font-weight-bold mb-0">Última actualización: <span class="font-weight-normal">{{ company.date_updated }}</span></p>
                    <p class="font-weight-bold">Fuente de los datos: <span class="font-weight-normal">Agencia Estatal Boletín Oficial del Estado.</span></p>
                </li>
            </ul>
        </div>
    </div>

    {% comment %}
    <div class="row ">
        <div class="col-md-12">
            <div class="card official-bulletins">
                <div class="card-header">
                    <img src="{% static 'assets/img/table/icon1.svg' %}" alt="">Anuncios en boletines oficiales
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                             <p class="description">Resumen cronológico de actos publicados en las ediciones digitales de Boletines Oficiales (BORME, BOE, BOPI) inscritos por {{ company.fullname.upper }} o en los que participa indirectamente.</p>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-12">
                            <h3>Anuncios de cambio de las sociedades</h3>
                            <hr class="hr-official-bulletins">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline1">Declaración de unipersonalidad</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline2">Cambio de objeto social </label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline3" name="customRadioInline1" class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline3">Modificación estatutaria</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-12">
                            <h3>Anuncios de cargos empresariales</h3>
                            <hr class="hr-official-bulletins">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline4" name="customRadioInline4" class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline4">Declaración de unipersonalidad</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-12">
                            <h3>Anuncios de creación de empresas </h3>
                            <hr class="hr-official-bulletins">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline5" name="customRadioInline5" class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline5">Declaración de unipersonalidad</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endcomment %}

    <section class="contenido-descripcion">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="title-section">
                        <span>|</span>últimas noticias
                    </h1>
                </div>
            </div>
            <div class="row section-roadmap mt-3">
                <div class="col-md-12">
                    <div class="line-roadmap">
                        {% for anuncio in anuncios %}
                        {% for acto_name, value in anuncio.actos %}
                        <div class="item-roadmap d-flex mt-4">
                            <div class="box-date">
                                <h1>{{ anuncio.date|date:"d"}}</h1>
                                <p class="mb-0">{{ anuncio.date|date:"b Y"}}</p>
                            </div>
                            <div class="box-content">
                                <div class="item-content">
                                    <h3>{{ acto_name }}</h4>
                                    <h1>{{ company.fullname }}</h1>
                                    <hr>
                                    {% if acto_name|is_acto_cargo %}
                                    <div class="table-responsive">
                                        <table class="table table-condensed">
                                           <thead>
                                               <tr>
                                                   <th>Cargo</th>
                                                   <th>Persona física/jurídica</th>
                                               </tr>
                                           </thead>
                                           <tbody>
                                           {% for cargo in value %}
                                               <tr>
                                                   <td class="color-red-dark">{{ cargo.title.title }}</td>
                                                   <td class="color-red-dark">{{ cargo | link_to_entity | safe }}</td>
                                               </tr>
                                           {% endfor %}
                                           </tbody>
                                        </table>
                                    </div>
                                    {% elif value|is_string %}
                                    <p><i class="glyphicon glyphicon-ok"></i>{{ value }}</p>
                                    {% else %}
                                    <p>{% acto_as_text acto_name value anuncio.date %}</p>
                                    {% endif %}
                                    <p>Detalles del anuncio <span class="color-red-dark">{{ anuncio.id_anuncio }}</span></p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% empty %}
                            <i>No hay anuncios registrados.</i>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
