{% load staticfiles %}
<div class="tab-view-details">
    <div class="row">
        <div class="col">
            <ul class="list-inline list-unstyled ul-resum">
                <li class="list-inline-item">
                    <p class="font-weight-bold">Última actualización: <span class="font-weight-normal">13/12/2019</span></p>
                </li>
                <li class="list-inline-item">
                    <p class="font-weight-bold">Fuente de los datos: <span class="font-weight-normal">Agencia Estatal Boletín Oficial del Estado.</span></p>
                </li>
            </ul>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-12">
            <div class="card official-bulletins">
                <div class="card-header">
                    <img src="{% static 'assets/img/table/icon1.svg' %}" alt="">Anuncios en boletines oficiales
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="description">Resumen cronológico de actos publicados en las ediciones digitales de Boletines Oficiales (BORME, BOE, BOPI) inscritos por ENTROPY FACTORY SL o en los que participa indirectamente.</p>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-12">
                            <h3>Anuncios de cambio de las sociedades</h3>
                            <hr class="hr-official-bulletins">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline1">Declaración de unipersonalidad</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline2">Cambio de objeto social </label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline3" name="customRadioInline1" class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline3">Modificación estatutaria</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-12">
                            <h3>Anuncios de cargos empresariales</h3>
                            <hr class="hr-official-bulletins">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline4" name="customRadioInline4" class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline4">Declaración de unipersonalidad</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-12">
                            <h3>Anuncios de creación de empresas </h3>
                            <hr class="hr-official-bulletins">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline5" name="customRadioInline5" class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline5">Declaración de unipersonalidad</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="contenido-descripcion">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="title-section">
                        <span>|</span>últimas noticias
                    </h1>
                </div>
            </div>
            <div class="row section-roadmap mt-3">
                <div class="col-md-12">
                    <div class="line-roadmap">
                        <div class="item-roadmap d-flex">
                            <div class="box-date">
                                <h1>13</h1>
                                <p class="mb-0">Mar 2018</p>
                            </div>
                            <div class="box-content">
                                <div class="item-content">
                                    <h3>Cambio de objeto social</h3>
                                    <h1>Entropy Factory SL</h1>
                                    <hr>
                                    <p>1. La promoción y construcción , por cuenta propia o de terceros, de toda clase de edificaciones y de obras públicas o privadas. 2. La adquisición , tenencia, arrendamiento, excluido el financiero, explotación, urbanización, administración, enajenación, permuta, rehabilitación, explotación y gestió.</p>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>
                                    <p>Detalles del anuncio <span class="color-red-dark">124458</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="item-roadmap d-flex mt-4">
                            <div class="box-date">
                                <h1>13</h1>
                                <p class="mb-0">Mar 2018</p>
                            </div>
                            <div class="box-content">
                                <div class="item-content">
                                    <h3>Cambio de objeto social</h3>
                                    <h1>Entropy Factory SL</h1>
                                    <hr>
                                    <p>1. La promoción y construcción , por cuenta propia o de terceros, de toda clase de edificaciones y de obras públicas o privadas. 2. La adquisición , tenencia, arrendamiento, excluido el financiero, explotación, urbanización, administración, enajenación, permuta, rehabilitación, explotación y gestió.</p>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>
                                    <p>Detalles del anuncio <span class="color-red-dark">124458</span></p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>