{% load staticfiles %}
<table id="example" class="display " style="width:100%">
        <thead>
        <tr>
            <th>Razón social</th>
            <th>Registro Mercantil</th>
        </tr>
        </thead>
        <tbody>
            {% for company in results_companies %}
            <tr>
                <td>
                    <div class="row align-items-center">
                        <div class="col-12 table-icon">
                            <ul class="list-inline list-unstyled mb-0">
                                <li class="list-inline-item">
                                    <img src="{% static 'assets/img/table/icon1.svg' %}" alt="">
                                </li>
                                <li class="list-inline-item">
                                    <p class="mb-0">
                                         <a href="{% url "borme-empresa" company.slug %}">{{ company.name }}</a>
                                    </p>
                                </li>
                                <li class="list-inline-item">
                                    <button type="button" class="btn btn-secondary">Seguir</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </td>
                <td><p class="mb-0 text-uppercase">Madrid</p></td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th>Razón social</th>
            <th>Registro Mercantil</th>
        </tr>
        </tfoot>
    </table>
