{% load staticfiles %}
<table id="example" class="display " style="width:100%">
        <thead>
        <tr>
            <th>Razón social</th>
            <th>Registro Mercantil</th>
        </tr>
        </thead>
        <tbody>
            {% for person in results_persons %}
            <tr>
                <td>
                    <div class="row align-items-center">
                        <div class="col-12 table-icon">
                            <ul class="list-inline list-unstyled mb-0">
                                <li class="list-inline-item">
                                    <img src="{% static 'assets/img/table/icon2.svg' %}" alt="">
                                </li>
                                <li class="list-inline-item">
                                    <p class="mb-0">
                                         <a href="{% url "borme-persona" person.slug %}">{{ person.name }}</a>
                                    </p>
                                </li>
                                <li class="list-inline-item">
                                    <button type="button" class="btn btn-secondary">Seguir</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </td>
                <td><p class="mb-0 text-uppercase">Madrid</p></td>
            </tr>
            {% endfor %}
        <tr>
            <td>Jena Gaines</td>
            <td>Office Manager</td>
        </tr>
        <tr>
            <td>Quinn Flynn</td>
            <td>Support Lead</td>
        </tr>
        <tr>
            <td>Charde Marshall</td>
            <td>Regional Director</td>
        </tr>
        <tr>
            <td>Haley Kennedy</td>
            <td>Senior Marketing Designer</td>
        </tr>
        <tr>
            <td>Tatyana Fitzpatrick</td>
            <td>Regional Director</td>
        </tr>

        </tbody>
        <tfoot>
        <tr>
            <th>Razón social</th>
            <th>Registro Mercantil</th>
        </tr>
        </tfoot>
    </table>
