{% load staticfiles %}

{% comment %}
- servicios
{% endcomment %}

<section class="contenido-descripcion">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="title-section">
                    <span>|</span>servicios
                </h1>
            </div>
        </div>
        <div class="row align-items-center slide-servicios mt-3">
            <div class="col-sm-12 col-md-4 mt-4 col-slide-services">
                <img src="{% static 'assets/img/servicios/suscribete.png' %}" alt="">
                <span>Suscríbete</span>
            </div>
            <div class="col-sm-12 col-md-4 mt-4 col-slide-services">
                <img src="{% static 'assets/img/servicios/api.png' %}" alt="">
                <span>Implementación API</span>
            </div>
            <div class="col-sm-12 col-md-4 mt-4 col-slide-services">
                <img src="{% static 'assets/img/servicios/alert.png' %}" alt="">
                <span>Activar alertas</span>
            </div>
        </div>
    </div>
</section>
