{% load staticfiles %}

<section class="sponsors">
    <div class="container">
        <div class="row mt-3 align-items-center">
            <div class="col-6 offset-md-2">
                <img src="{% static 'banners/banner1.png' %}">
                {# <img src="holder.js/720x90"> #}
            </div>
        </div>
    </div>
</section>

{% comment %}
Banner sizes:
- 970x90 (wide skyscraper)
- 120x90 (button)
- 728x90 (leaderboard)


Yo:
- 728x90 (leaderboard)
- 325x90 (menos d ela mitad )
{% endcomment %}

