{% extends "borme/base.html" %}

{% load utils %}

{% block title %}Anuncio {{ anuncio.id_anuncios }} | LibreBORME{% endblock %}

{% block content %}
    <h1>Anuncio {{ anuncio.id_anuncio }}</h1>

    <strong>Empresa:</strong> <a href="{{ anuncio.company.get_absolute_url }}">{{ anuncio.company.name }}</a>
    <br/>
    <strong>Fecha:</strong> {{ anuncio.borme.date|date }}
    <br/>
    <strong>Número total de actos mercantiles:</strong> {{ anuncio.actos|length }}
    <br/>
    <strong>Fuente:</strong> <a href="{{ anuncio.borme.get_absolute_url }}">{{ anuncio.borme.cve }}</a> <a href="{{ anuncio.borme.url }}" alt="Descargar PDF" title="Descargar PDF"><i class="glyphicon glyphicon-download-alt"></i></a>
    <br/>
    <strong>Provincia:</strong> {{ anuncio.borme.province }}
    <br/>
    <strong>Datos registrales:</strong> {{ anuncio.datos_registrales }}
    <br/>

    <h2>Actos mercantiles:</h2>
    <ul>
    {% for nombre, valor in anuncio.actos.items %}
        <h3>{{ nombre }}</h3>
        {% if nombre|is_acto_cargo2 %}
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Cargo</th>
                        <th>Persona física/jurídica</th>
                        <th>Desde</th>
                        <th>Hasta</th>
                    </tr>
                </thead>
                <tbody>
                {% for cargo in valor %}
                    <tr>
                        <td>{{ cargo.title }} ({{ cargo|get_class }})</td>
                        <td><a href="{{ cargo.name.get_absolute_url }}">{{ cargo.name|title }}</a></td>
                        <td>{{ cargo.date_from|date:"SHORT_DATE_FORMAT"|default:"Desconocido" }}</td>
                        <td>{{ cargo.date_to|date:"SHORT_DATE_FORMAT"|default:"Desconocido" }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <li>{{ valor }}</li>
        {% endif %}
    {% endfor %}
    </ul>

    <a href="{% url 'borme-anuncio' anuncio.id_anuncio|add:"-1" %}">&lt; Anterior</a> |
    <a href="{% url 'borme-anuncio' anuncio.id_anuncio|add:"1" %}">Siguiente &gt;</a>

{% endblock %}
