{% extends "borme/base.html" %}

{% load utils %}

{% block title %}Anuncio {{ anuncio.id_anuncio }} de {{ anuncio.year }} | LibreBORME{% endblock %}

{% block content %}
    <h1>Anuncio {{ anuncio.id_anuncio }} de {{ anuncio.year }}</h1>

    <strong>Empresa:</strong> <a href="{% url 'borme-empresa' anuncio.company|slug %}">{{ anuncio.company }}</a>
    <br/>
    <strong>Fecha:</strong> <a href="{% url 'borme-fecha' borme.date|date_isoformat %}">{{ borme.date|date }}</a>
    <br/>
    <strong>Fuente:</strong> <a href="{{ borme.get_absolute_url }}">{{ borme.cve }}</a> <a href="{{ borme.url }}" alt="Descargar PDF" title="Descargar PDF"><i class="glyphicon glyphicon-download-alt"></i></a>
    <br/>
    <strong>Provincia:</strong> <a href="{% url 'borme-provincia' borme.province %}">{{ borme.province }}</a>
    <br/>
    <strong>Datos registrales:</strong> <i>{{ anuncio.datos_registrales }}</i>
    <br/>

    <h2>{{ anuncio.actos|length }} acto{{ anuncio.actos|length|pluralize }} mercantil{{ anuncio.actos|length|pluralize:"es" }}:</h2>
    <ul>
    {% for nombre, valor in anuncio.actos.items %}
        <h3>{{ nombre }}</h3>
        {% if nombre|is_acto_cargo %}
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Cargo</th>
                        <th>Persona física/jurídica</th>
                        <th>Desde</th>
                        <th>Hasta</th>
                    </tr>
                </thead>
                <tbody>
                {% for cargo in valor %}
                    {% url 'borme-fecha' cargo.date_from as url_from %}
                    {% url 'borme-fecha' cargo.date_to as url_to %}
                    <tr>
                        <td>{{ cargo.title }} ({{ cargo|get_class }})</td>
                        {% if cargo.type == 'person' %}
                            <td><a href="{% url 'borme-persona' cargo.name|slug %}">{{ cargo.name|title }}</a></td>
                        {% else %}
                            <td><a href="{% url 'borme-empresa' cargo.name|slug2 %}">{{ cargo.name }}</a></td>
                        {% endif %}
                        {% if url_from %}
                            <td><a href="{% url 'borme-fecha' cargo.date_from %}">{{ cargo.date_from }}</a></td>
                        {% else %}
                            <td>{{ cargo.date_from|default:"Desconocido" }}</td>
                        {% endif %}
                        {% if url_to %}
                            <td><a href="{% url 'borme-fecha' cargo.date_to %}">{{ cargo.date_to }}</a></td>
                        {% else %}
                            <td>{{ cargo.date_to|default:"Desconocido" }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <li>{{ valor }}</li>
        {% endif %}
    {% endfor %}
    </ul>

    <a href="{% url 'borme-anuncio' anuncio.year anuncio.id_anuncio|add:"-1" %}">&lt; Anterior</a> |
    <a href="{% url 'borme-anuncio' anuncio.year anuncio.id_anuncio|add:"1" %}">Siguiente &gt;</a>

{% endblock %}
