{% extends "borme/base.html" %}

{% load utils %}

{% block title %}{{ borme.cve }} | LibreBORME{% endblock %}

{% block content %}
    <h2>BORME de {{ borme.province }} del día {{ borme.date|date }}</h2>

    <div class="row borme-cities">
    <div class="col-md-10">
    <strong>CVE:</strong> {{ borme.cve }}
    <br/>
    <strong>Fecha:</strong> <a href="{% url 'borme-fecha' borme.date|date_isoformat %}">{{ borme.date|date }}</a>
    <br/>
    <strong>Provincia:</strong> <a href="{% url 'borme-provincia' borme.province %}">{{ borme.province }}</a>
    <br/>
    <strong>Sección:</strong> {{ borme.section }}
    <br/>
    <strong>Fuente:</strong> <a href="{{ borme.url }}" alt="Descargar PDF" title="Descargar PDF">{{ borme.url }} <i class="glyphicon glyphicon-download-alt"></i></a>
    <br/>
    <strong>Anuncios:</strong> {{ total_anuncios }}
    ({% if total_anuncios == 1 %}{{ borme.from_reg }}{% else %}del <a href="{% url 'borme-anuncio' borme.date.year borme.from_reg %}">{{ borme.from_reg }}</a> al <a href="{% url 'borme-anuncio' borme.date.year borme.until_reg %}">{{ borme.until_reg }}</a>{% endif %})
    </div>
    </div>

    <h3>Resumen de actos:</h3>
    <div class="row anuncios">
    <div class="col-md-4 col-md-offset-1">
        <table class="table table-striped table-hover table-condensed">
        {% for k, v in resumen_dia %}
            <tr>
                <td>{{ k }}</td>
                <td>{{ v }}</td>
            </tr>
        {% empty %}
            <i>No hay anuncios para este día.</i>
        {% endfor %}
        </table>
    </div>
    </div>

    <h3>Bormes del mismo día:</h3>

    <div class="row borme-cities">
    <div class="col-md-10 col-md-offset-1">
        {% if bormes_dia %}
     {% for bs in bormes_dia|rows_distributed:3 %}
        {% if bormes_dia|length > 5 %}
        <div class="col-md-4">
            {% endif %}
            <ul>
            {% for b in bs %}
                <li><a href="{{ b.get_absolute_url }}">{{ b.province }}</a></li>
            {% endfor %}
            </ul>
            {% if bormes_dia|length > 5 %}
        </div>
        {% endif %}
     {% endfor %}

        {% else %}
        <i>No hay más BORMEs para este día.</i>
        {% endif %}
    </div>
    </div>

{% endblock %}
