{% extends "borme/base.html" %}

{% block content %}
    <h2>Anuncios mercantiles del día {{ date }}</h2>

    <div class="calendar">
        {{ calendar }}
    </div>

    <h3>Resumen de actos para el día {{ date }}</h3>
    <div class="anuncios">
        <table class="table table-striped table-hover table-condensed">
        {% for k, v in resumen_dia %}
            <tr>
                <td>{{ k }}</td>
                <td>{{ v }}</td>
            </tr>
        {% empty %}
            <i>No hay anuncios para este día.</i>
        {% endfor %}
        </table>
    </div>

    <h3>Provincias que publicaron BORME el día {{ date }}</h3>
    <div class="borme-cities">
        {% if bormes %}
     {% for bs in bormes|rows_distributed:3 %}
        {% if bormes|length > 5 %}
        <div class="col-md-4">
            {% endif %}
            <ul>
            {% for b in bs %}
                <li><a href="{{ b.get_absolute_url }}">{{ b.province }}</a></li>
            {% endfor %}
            </ul>
            {% if bormes|length > 5 %}
        </div>
        {% endif %}
     {% endfor %}

        {% else %}
        <i>No hay más BORMEs para este día.</i>
        {% endif %}
    </div>

{% endblock %}
