{% extends "borme/base.html" %}

{% load utils %}

{% block title %}{{ borme.cve }} | LibreBORME{% endblock %}

{% block content %}
    <h2>BORME de {{ borme.province }} del día {{ borme.date|date }}</h2>

    <strong>CVE:</strong> {{ borme.cve }}
    <br/>
    <strong>Fecha:</strong> <a href="{% url 'borme-fecha' borme.date|date_isoformat %}">{{ borme.date|date }}</a>
    <br/>
    <strong>Provincia:</strong> <a href="{% url 'borme-provincia' borme.province %}">{{ borme.province }}</a>
    <br/>
    <strong>Sección:</strong> {{ borme.section }}
    <br/>
    <strong>Fuente:</strong> <a href="{{ borme.url }}" alt="Descargar PDF" title="Descargar PDF">{{ borme.url }} <i class="glyphicon glyphicon-download-alt"></i></a>
    <br/>
    <strong>Anuncios:</strong> {{ total_anuncios }}
    ({% if total_anuncios == 1 %}{{ borme.from_reg }}{% else %}del <a href="{% url 'borme-anuncio' borme.from_reg %}">{{ borme.from_reg }}</a> al <a href="{% url 'borme-anuncio' borme.until_reg %}">{{ borme.until_reg }}</a>{% endif %})

    <h3>Bormes del mismo día:</h3>

    <div class="borme-cities">
     {% for bs in bormes_dia|rows_distributed:3 %}
        <div class="col-md-4">
            <ul>
            {% for b in bs %}
                <li><a href="{{ b.get_absolute_url }}">{{ b.province }}</a></li>
            {% endfor %}
            </ul>
        </div>
     {% endfor %}
    </div>

{% endblock %}
