{% extends "borme/base2.html" %}
{% comment %}


{% block extrajs %}
  <script src="{% static "js/libreborme.js" %}"></script>
  <script src="{% static "static_jquery/js/jquery.min.js" %}"></script>
  <script src="{% static "follow.js" %}"></script>
  <script>
      $("#follow-button").click(function(ev) {

      var slug = $(ev.currentTarget).attr("data");
      var csrftoken = getCookie('csrftoken');
      configCsrf(csrftoken);

      $("#follow_spinner").toggle();

      $.ajax({
        method: "POST",
        url: "{% url 'borme-ajax-follow' %}",
        data: {slug: slug, type: 'company'}
      })
      .always(function(xhr, textStatus) {
        var resp = $.parseJSON(xhr);
        $("#alert-follow").html(resp.html);
        $("#alert-follow").attr("class", "col-md-2 alert alert-follow alert-" + resp.tag);
        $("#alert-follow").show();
        $("#follow_spinner").toggle();

        if (typeof resp.following !== 'undefined') {
          if (resp.following) {
            var span = $("#follow-button")
                         .find("span")
                         .attr("class", "glyphicon glyphicon-eye-close");
            $("#follow-button")
              .text(" Dejar de seguir")
              .prepend(span);
          } else {
            var span = $("#follow-button")
                         .find("span")
                         .attr("class", "glyphicon glyphicon-eye-open");
            $("#follow-button")
              .text(" Seguir")
              .prepend(span);
          }
        }
        $("#alert-follow").fadeOut(5000);
      });

    });
  </script>
{% endblock %}





<div class="col-md-10 col-md-offset-1">
        <div class="row">
          <h1>Sociedad «{{ company.fullname }}»</h1>

          <p>Última actualización: {{ company.date_updated }}.<br/>
          Fuente de los datos: Agencia Estatal Boletín Oficial del Estado.</p>
        </div>

        <div class="row">
          <div>
          <p>
          <button id="follow-button" type="button" class="btn btn-primary btn-xs" data="{{ company.slug }}">
            {% if is_following %}
              <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span> Dejar de seguir
            {% else %}
              <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Seguir
            {% endif %}
          </button>
          </p>
          <p>
          <div id="alert-follow" style="display: none;" class="col-md-2 alert alert-follow" role="alert"></div>
          </p>
          </div>
          <img id="follow_spinner" style="display: none" src="{% static 'reload2.gif' %}" width=22>
        </div>

        <div class="row">
            <div class="col-md-5">
                <p>
                  {% if company.last_auditor %}
                  <strong>Auditor:</strong> {{ company.last_auditor.name | title}}<br>
                  {% endif %}
                  {% if company.reason_dissolution %}
                  <strong>Motivo de la disolución:</strong> {{ company.reason_dissolution }}<br>
                  {% endif %}
                </p>
            </div>
            <div class="col-md-6">
                <p>
                </p>
            </div>
        </div>

        <h2>Cargos directivos:</h2>
        <div id="positions">
        <div class="row">
        <div class="col-md-10">
        {% if company.get_cargos_actuales.0 %}
            <a href="{% url 'borme-empresa-csv-actual' company.name|slug2 %}" rel="nofollow" title="Descargar CSV de cargos actuales"><i class="glyphicon glyphicon-download-alt"></i> csv</a>
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Cargo</th>
                        <th>Persona física/jurídica</th>
                        <th>Desde</th>
                        <th>Hasta</th>
                    </tr>
                </thead>
                <tbody id="tabla_cargos_actuales">
                {% for cargo in company.get_cargos_actuales.0 %}
                    {% include "borme/tables/cargos_actuales.html" %}
                {% endfor %}
                {% if company.get_cargos_actuales.1 %}
                    <tr id="vermascargos_actuales">
                        <td class="text-center" colspan=4>
                            <a href="#" onclick="javascript:moreData('{% url 'borme-ajax-empresa' company.slug %}?t=actuales','vermascargos_actuales','tabla_cargos_actuales');return false;" rel="nofollow">Ver más</a>
                        </td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        {% else %}
            {% if company.is_active %}
            <i>No hay datos</i> <a href="#" data-toggle="modal" data-target="#myModal">[?]</a>
            {% else %}
            <i>La sociedad está inactiva.</i>
            {% endif %}
        {% endif %}
        </div>
        </div>

        {% if company.get_cargos_historial.0 %}
        <a id="toggle_positions_on" href="#" onclick="toggle_positions();return false;" title="Mostrar cargos no vigentes"><i class="glyphicon glyphicon-chevron-right"></i> Mostrar cargos no vigentes</a>
        <a id="toggle_positions_off" style="display:none" href="#" onclick="toggle_positions();return false;" title="Esconder cargos no vigentes"><i class="glyphicon glyphicon-chevron-down"></i> Esconder cargos no vigentes</a>

        <div id="positions_history" style="display:none">
        <div class="row">
        <div class="col-md-10">
            <a href="{% url 'borme-empresa-csv-historial' company.slug %}" rel="nofollow" title="Descargar CSV de historial de cargos"><i class="glyphicon glyphicon-download-alt"></i> csv</a>
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Cargo</th>
                        <th>Persona física/jurídica</th>
                        <th>Desde</th>
                        <th>Hasta</th>
                    </tr>
                </thead>
                <tbody id="tabla_cargos_historial">
                {% for cargo in company.get_cargos_historial.0 %}
                    {% include "borme/tables/cargos_historial.html" %}
                {% endfor %}
                {% if company.get_cargos_actuales.1 %}
                    <tr id="vermascargos_historial">
                        <td class="text-center" colspan=4>
                            <a href="#" onclick="javascript:moreData('{% url 'borme-ajax-empresa' company.slug %}?t=historial','vermascargos_historial','tabla_cargos_historial');return false;" rel="nofollow">Ver más</a>
                        </td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
        </div>
        </div>
        {% endif %}
        </div>

        <h2>Anuncios en boletines oficiales</h2>
        <div class="row">
        <div class="col-md-10">
            <p>Actos mercantiles publicados en la edición digital del BORME relacionados o inscritos por {{ company.fullname }}.</p>
            {% for anuncio in anuncios %}
                <h3>{{ anuncio.date|date:"d b Y" }}</h3>
                Detalles del anuncio <a href="{{ anuncio.get_absolute_url }}">{{ anuncio.id_anuncio }}</a>.
            <div class="row">
            <div class="col-md-10 col-md-offset-1">
            <ul>
               {% for acto_name, value in anuncio.actos %}
                  <li><strong>{{ acto_name }}</strong>:
                 {% if acto_name|is_acto_cargo %}

                    <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                     <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Cargo</th>
                                <th>Persona física/jurídica</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for cargo in value %}
                            <tr>
                                <td>{{ cargo.title.title }}</td>
                                <td>{{ cargo | link_to_entity | safe }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                     </table>
                    </div>
                    </div>
                 {% elif value|is_string %}
                   <i class="glyphicon glyphicon-ok"></i>
                   {{ value }}
                 {% else %}
                   <div class="row">
                   {% acto_as_text acto_name value anuncio.date %}
                   </div>
                 {% endif %}
                  </li>
               {% endfor %}
            </ul>
            </div>
            </div>
            {% empty %}
                <i>No hay anuncios registrados.</i>
            {% endfor %}
        </div>
        </div>

        <h2>Personas relacionadas</h2>
        <div class="row related-persons">
        <div class="col-md-10">

        {% if persons %}
         {% for ps in persons|rows_distributed:3 %}
            {% if persons|length > 5 %}
            <div class="col-md-4">
                {% endif %}
                <ul>
                {% for person in ps %}
                    <li>{{ person | link_to_entity | safe }}</li>
                {% endfor %}
                </ul>
                {% if persons|length > 5 %}
            </div>
            {% endif %}
         {% endfor %}
         {% else %}
            <p><i>No hay datos.</i></p>
        {% endif %}
        </div>
        </div>

        <h2>Sociedades relacionadas</h2>
        <div class="row related-companies">
        <div class="col-md-10">

         {% if companies %}
         {% for cs in companies|rows_distributed:3 %}
            {% if companies|length > 5 %}
            <div class="col-md-4">
                {% endif %}
                <ul>
                {% for c in cs %}
                    <li>{{ c | link_to_entity | safe }}</li>
                {% endfor %}
                </ul>
                {% if companies|length > 5 %}
            </div>
            {% endif %}
         {% endfor %}
         {% else %}
            <p><i>No hay datos.</i></p>
         {% endif %}
        </div>
        </div>

        <h2>BORMEs relacionados</h2>
        <div class="row related-bormes">
        <div class="col-md-10">
         {% if company.in_bormes %}
         {% for bs in company.in_bormes|rows_distributed:3 %}
            {% if company.in_bormes|length > 5 %}
            <div class="col-md-4">
                {% endif %}
                <ul>
                {% for borme in bs %}
                    <li><a href="{% url 'borme-borme' borme.cve %}">{{ borme.cve }}</a>
                        <!--  <a href="#" alt="Ver" title="Ver"><i class="glyphicon glyphicon-share"></i></a> -->
                        <a href="{{ borme.url }}" title="Descargar PDF" rel="nofollow"><i class="glyphicon glyphicon-download-alt"></i></a>
                    </li>
                {% endfor %}
                </ul>
                {% if company.in_bormes|length > 5 %}
            </div>
            {% endif %}
         {% endfor %}
         {% else %}
            <p><i>No hay actos registrados.</i></p>
         {% endif %}
        </div>
        </div>
    </div>


{% endcomment %}

{% load staticfiles %}
{% load actos %}
{% load utils %}

{% block title %}{{ company.fullname }} | LibreBORME{% endblock %}

{% block meta %}
  <meta name="keywords" content="{{ company.fullname|upper }}, Empresas, Informe, CNAE, Registro, Mercantil, Actos, BOE, BORME, Open Data, Cargos, Directivos"/>
  <meta name="description" content="{{ company.fullname|upper }}. Información mercantil de la empresa {{ company.fullname|upper }}. Cargos directivos de {{ company.fullname|upper }}. Actos publicados en el BORME de {{ company.fullname|upper }}."/>
{% endblock %}

{% block content %}
<div class="view-details mt-4">
    <div class="section-title-result-details">
        <div class="container">
            <div class="row mt-4">
                <div class="col-md-12">
                    <ul class="list-inline list-unstyled mb-0">
                        <li class="list-inline-item">
                            <h1>{{ company.name|upper }}</h1>
                        </li>
                        <li class="list-inline-item">
                            <button type="button" class="btn-secondary btn-details">Seguir</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="line-tabs">
        <hr>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-7 col-lg-6">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Información</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="historic-tab" data-toggle="tab" href="#historic" role="tab" aria-controls="historic" aria-selected="false">Historial</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="related-tab" data-toggle="tab" href="#related" role="tab" aria-controls="related" aria-selected="false">Relacionados</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="background-result">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tab-content mt-5 mb-5" id="myTabContent">
                            <div class="tab-pane fade show active " id="home" role="tabpanel" aria-labelledby="home-tab">
                                {% include 'borme/details/historic.html' %}
                            </div>
                            <div class="tab-pane fade" id="historic" role="tabpanel" aria-labelledby="historic-tab">
                                {% include 'borme/details/information.html' %}
                            </div>
                            <div class="tab-pane fade" id="related" role="tabpanel" aria-labelledby="related-tab">
                                {% include 'borme/details/related.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'borme/sections/slide-services.html' %}

</div>
{% endblock %}
