{% extends "borme/base.html" %}

{% block title %}{{ person.name }} | LibreBORME{% endblock %}

{% block content %}
    <h2>Persona «{{ person.name }}»</h2>
    <h3>Datos</h3>
    <strong>Cargos activos:</strong> {{ person.cargos1|default:"Desconocido" }}
    <br/>
    <strong>Cargos históricos:</strong> {{ person.cargos2|default:"Desconocido" }}
    <br/>
    <strong>Total empresas:</strong> {{ person.empresas|default:"Desconocido" }}
    <br/>

    <h3>Cargos directivos en empresas</h3>
        <i>No disponible</i>
    <h3>Anuncios de nombramientos y ceses</h3>
        <i>No disponible</i>

    <h3>BORMEs relacionados</h3>

    <ul>
    {% for borme in bormes.values %}
        <li>{{ borme.cve }}
	  <!-- <a href="#" alt="Ver" title="Ver"><i class="glyphicon glyphicon-share"></i></a> -->
	  <a href="{{ borme.url }}" alt="Descargar PDF" title="Descargar PDF"><i class="glyphicon glyphicon-download-alt"></i></a></li>
    {% empty %}
        <i>No hay actos registrados.</i>
    {% endfor %}
    </ul>

    <h3>Sociedades relacionadas</h3>

    <ul>
    {% for company in person.in_companies %}
        <li><a href="{% url "borme-empresa" company.slug %}">{{ company.name }}</a></li>
    {% empty %}
        <i>No hay actos registrados.</i>
    {% endfor %}

    </ul>

    <h3>Personas relacionadas</h3>
        <i>No disponible</i>
    
{% endblock %}
