{% extends "borme/base.html" %}

{% block title %}{{ person.name }} | LibreBORME{% endblock %}

{% block content %}
    <h2>Persona «{{ person.name }}»</h2>
    <h3>Datos</h3>

    <h3>BORMEs relacionados</h3>

    <ul>
    {% for borme in person.in_bormes %}
        <li>{{ borme }} <a href="#" alt="Ver" title="Ver"><i class="glyphicon glyphicon-share"></i></a> <a href="#" alt="Descargar PDF" title="Descargar PDF"><i class="glyphicon glyphicon-download-alt"></i></a></li>
    {% empty %}
        <i>No hay actos registrados.</i>
    {% endfor %}
    </ul>

    <h3>Sociedades relacionadas</h3>

    <ul>
    {% for company in person.in_companies2 %}
        <li><a href="{% url "borme-empresa" company.slug %}">{{ company.name }}</a></li>
    {% empty %}
        <i>No hay actos registrados.</i>
    {% endfor %}

    </ul>

    <h3>Personas relacionadas</h3>
    <h3>BORMEs relacionados</h3>

{% endblock %}
