{% extends "borme/base.html" %}

{% block title %}{{ person.name }} | LibreBORME{% endblock %}

{% block content %}
    <h2>Persona «{{ person.name }}»</h2>
    <h3>Datos</h3>

    <h3>BORMEs relacionados</h3>

    <ul>
    {% for company in person.in_bormes %}
        <li>{{ company }}</li>
    {% empty %}
        <i>No hay actos registrados.</i>
    {% endfor %}
    </ul>

    <h3>Sociedades relacionadas</h3>

    <ul>
    {% for company in person.in_companies2 %}
        <li><a href="{% url "borme-empresa" company.slug %}">{{ company.name }}</a></li>
    {% empty %}
        <i>No hay actos registrados.</i>
    {% endfor %}

    </ul>
{% endblock %}
