{% load staticfiles %}
<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>Panel de alertas | LibreBORME</title>

    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "ie10-viewport-bug-workaround.css" %}" rel="stylesheet">
    <link href="{% static "css/dashboard1.css" %}" rel="stylesheet">
    {% block extrastyles %}{% endblock %}
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'borme-home' %}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
          <a class="navbar-brand" href="#">LibreBORME</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li {% if active == 'cart' %}class="active"{% endif %}><a href="{% url 'alertas-cart' %}"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Cesta{% if num_cart > 0 %} <span class="badge">{{ num_cart }}</span>{% endif %}</a></li>
            <li {% if active == 'settings' %}class="active"{% endif %}><a href="{% url 'alertas-settings' %}"><span class="glyphicon glyphicon-settings" aria-hidden="true"></span> Configuración</a></li>
            <li {% if active == 'ayuda' %}class="active"{% endif %}><a href="{% url 'alertas-ayuda' %}">Soporte</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">

        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li {% if active == 'dashboard' %}class="active"{% endif %}><a href="{% url 'dashboard-index' %}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Mi cuenta</a></li>
          </ul>

          <ul class="nav nav-sidebar">
            <li {% if active == 'subscriptions' %}class="active"{% endif %}><a href="{% url 'subscriptions-list' %}"><span class="glyphicon glyphicon-send" aria-hidden="true"></span> Suscripciones</a></li>
            <li {% if active == 'alertas' %}class="active"{% endif %}><a href="{% url 'alertas-list' %}"><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Alertas</a></li>
            <li {% if active == 'api' %}class="active"{% endif %}><a href="{% url 'alertas-api' %}"><span class="glyphicon glyphicon-compare" aria-hidden="true"></span> API</a></li>
          </ul>
          <ul class="nav nav-sidebar">
                  <li {% if active == 'billing' %}class="active"{% endif %}><a href="{% url 'alertas-billing' %}"><span class="glyphicon glyphicon-invoice" aria-hidden="true"></span> Facturas <span class="badge badge-info">1</span></a></li>
            <li {% if active == 'payment' %}class="active"{% endif %}><a href="{% url 'alertas-payment' %}"><span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span> Métodos de pago</a></li>
          </ul>
          {% if user.is_staff %}
          <ul class="nav nav-sidebar-admin">
            <li {% if active == 'history' %}class="active"{% endif %}><a href="{% url 'alertas-history' %}"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Historial de alertas</a></li>
            <li {% if active == 'events' %}class="active"{% endif %}><a href="{% url 'alertas-events' %}">Eventos</a></li>
          </ul>
          {% endif %}
          <ul class="nav nav-sidebar">
            <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Cerrar sesión</a>
          </ul>
        </div>

      {% block content %}{% endblock %}

      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "static_jquery/js/jquery.min.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static "ie10-viewport-bug-workaround.js" %}"></script>
    <script src="https://js.stripe.com/v3/"></script>
    {% block extrajs %}{% endblock %}

</body></html>
