{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>{% block title %}LibreBORME{% endblock %}</title>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Pablo Castellano">

    {% block meta %}
    <meta name="keywords" content="Empresas, Informe, CNAE, Registro, Mercantil, Actos, BOE, BORME, Open Data, Cargos, Directivos"/>
    <meta name="description" content="Libreborme.net ofrece un buscador para el Boletín Oficial del Registro Mercantil. Encuentra información sobre actos mercantiles de empresas."/>
    {% endblock %}

    <link rel="icon" href="{% static "favicon.ico" %}">
    <link type="text/plain" rel="author" href="humans.txt" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/carousel.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/libreborne.css' %}">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>

<body>
    {% include 'alertas/elements/navbar.html' %}

    {% if not debug %}
    <!-- Cookies message -->
    <div id="headerCookies" style="display:none;">
      <div class="limiter">
        <p class="header-message">LibreBORME.net utiliza cookies para que tengas la mejor experiencia de navegación. Si sigues navegando entendemos que aceptas nuestra <a href="{% url 'cookies' %}">política de cookies</a>.</p>
        <p class="header-buttonline">
          <button type="button" class="btn btn-primary btn-sm cookies-header-close">OK</button>
        </p>
      </div>
    </div>
    {% endif %}

    <div class="container-fluid view-panel">
        <div class="row">
            <nav class="col-md-3 col-lg-2 d-none d-md-block bg-light sidebar">
            {% include "alertas/elements/sidebar.html" %}
            {% block content %}{% endblock %}
        </div>
    </div>

    {% include "alertas/elements/footer-panel.html" %}
    {% include "matomo.html" %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="{% static 'assets/js/vendor/jquery-slim.min.js' %}"><\/script>')</script>
    <script src="{% static 'assets/js/vendor/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="{% static 'assets/js/vendor/holder.min.js' %}"></script>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function(){
            var $logo = $('#logo');
            if ( window.location.pathname == '/' ){
                $logo.addClass('d-none');
                $(function () {
                    $(window).scroll(function () {
                        if ($(this).scrollTop() > 180) {
                            $logo.removeClass('d-none')
                        } else {
                            $logo.addClass('d-none')
                        }
                    });
                });
            } else {
                $logo.removeClass('d-none');
            }
        });

        $(document).ready(function() {
            $('#example').DataTable();
        } );
    </script>

</body>
</html>
