{% extends "alertas/base.html" %}
{% load staticfiles %}

{% block title %}Facturas | LibreBORME{% endblock %}

{% block content %}

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
        {% endfor %}
        {% if upcoming_invoice %}
        <div class="alert alert-info" role="alert">
          Tu próxima factura será emitida el <strong>{{ upcoming_invoice.date.date }}</strong>
        </div>
        {% endif %}

    <section class="panel">
        <div class="row">
            <div class="col-md-12">
                <h1 class="title-section">
                    <span>|</span>Listado de facturas
                </h1>
            </div>
        </div>

      {% comment %}
        invoice.get_absolute_url, subscription.description
      {% endcomment %}

        {% if invoices %}
          <p>Tienes {{ invoices | length }} facturas.</p>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Número</th>
                  <th>Fecha</th>
                  <th>Cantidad</th>
                  <th>Pagado</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                {% for invoice in invoices %}
                <tr {% if not invoice.paid %}class="danger"{% endif %}>
                  <td>{{ invoice.number }}</td>
                  <td>{{ invoice.date.date }}</td>
                  <td>{{ invoice.amount_due }} €</td>
                  <td>{% if invoice.paid %}
                    <i class="fas fa-check"></i>
                    {% else %}
                    <i class="fas fa-times"></i>
                    {% endif %}
                  </td>
                  <td>
                    <a href="{{ invoice.hosted_invoice_url }}" target="_blank">
                    <button type="button" class="btn btn-primary btn-xs">
                      <i class="fas fa-file"></i> Ver
                    </button>
                    </a>
                    <a href="{{ invoice.invoice_pdf }}" target="_blank">
                    <button type="button" class="btn btn-danger btn-xs">
                      <i class="fas fa-download"></i> PDF
                    </button>
                    </a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% else %}
          <p>Aún no se ha generado ninguna factura.</p>
        {% endif %}

      </div>
    </section>
    </main>
{% endblock %}


{% comment %}
{% block extrastyles %}
    <link href="{% static "css/dashboard_form.css" %}" rel="stylesheet">
{% endblock %}
{% endcomment %}
