{% extends "alertas/base.html" %}
{% load staticfiles %}

{% block title %}Facturas{% endblock %}

{% block content %}

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
        {% endfor %}
        {% if upcoming_invoice %}
        <div class="alert alert-info" role="alert">
        Tu próxima factura será emitida el <strong>{{ upcoming_invoice.date | date }}</strong>
        </div>
        {% endif %}

    <section class="panel">
        <div class="row">
            <div class="col-md-12">
                <h1 class="title-section">
                    <span>|</span>Listado de facturas
                </h1>
            </div>
        </div>

      {% comment %}
        invoice.get_absolute_url, subscription.description
      {% endcomment %}

      <div class="row">
        <div class="col-12 col-lg-9">
        {% if invoices %}
          <p>Tienes {{ invoices | length }} factura{{ invoices|length|pluralize }}.</p>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Número</th>
                  <th>Periodo</th>
                  <th>Cantidad</th>
                  <th>Pagado</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                {% for invoice in invoices %}
                <tr {% if not invoice.paid %}class="danger"{% endif %}>
                  <td>{{ invoice.number }}
                    {% if invoice.subscription.status == 'trialing' %}<span class="badge badge-warning">Periodo de prueba</span>{% endif %}
                  </td>
                  <td>
                    Del {{ invoice.invoiceitems.first.period_start|date:"d/m/Y" }} al {{ invoice.invoiceitems.first.period_end|date:"d/m/Y" }}
                  </td>
                  <td>{{ invoice.amount_due }} €</td>
                  <td>{% if invoice.paid %}
                    <i class="fas fa-check"></i>
                    {% else %}
                    <i class="fas fa-times"></i>
                    {% endif %}
                  </td>
                  <td>
                    <a href="{{ invoice.hosted_invoice_url }}" target="_blank">
                    <button type="button" class="btn btn-primary btn-xs">
                      <i class="fas fa-file"></i> Ver
                    </button>
                    </a>
                    <a href="{{ invoice.invoice_pdf }}" target="_blank">
                    <button type="button" class="btn btn-danger btn-xs">
                      <i class="fas fa-download"></i> PDF
                    </button>
                    </a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% else %}
          <p>Aún no se ha generado ninguna factura.</p>
        {% endif %}
        </div>
      </div>

    </section>
    </main>
{% endblock %}


{% comment %}
{% block extrastyles %}
    <link href="{% static "css/dashboard_form.css" %}" rel="stylesheet">
{% endblock %}
{% endcomment %}
