{% extends "alertas/base_dashboard.html" %}
{% load staticfiles %}

{% block content %}

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="alert alert-info" role="alert">
              {% if upcoming_invoice %}
              Tu próxima factura será emitida el <strong>{{ upcoming_invoice.date.date }}</strong>
              {% else %}
              No tienes ninguna factura próximamente
              {% endif %}
            </div>
          <h1 class="page-header">Listado de facturas</h1>

          {% comment %}
            invoice.get_absolute_url, subscription.description
          {% endcomment %}

          {% if lbinvoices %}
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Período</th>
                    <th>Cantidad</th>
                    <th>Forma de pago</th>
                    <th>Pagado</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  {% for invoice in lbinvoices %}
                  <tr {% if not invoice.is_paid %}class="danger"{% endif %}>
                    <td>{{ invoice.id }}</td>
                    <td>Del {{ invoice.start_date|date:"d/M/y"}} al {{ invoice.end_date|date:"d/M/y" }}</td>
                    <td>{{ invoice.amount }} €</td>
                    <td>{{ invoice.get_payment_type_display }}</td>
                    <td>{% if invoice.is_paid %}
                      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                      {% else %}
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                      {% endif %}
                    </td>
                    <td>
                      <a href="{% url 'alertas-invoice-view' invoice.id %}">
                      <button type="button" class="btn btn-primary btn-xs">
                        <span class="glyphicon glyphicon-file" aria-hidden="true"></span> Ver
                      </button>
                      </a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          {% else %}
            <p>Aún no se ha generado ninguna factura</p>
          {% endif %}

          <h1>Stripe invoices</h1>

            {% if invoices %}
              <p>There are actually {{ invoices | length }} invoices.</p>
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Número</th>
                      <th>Fecha</th>
                      <th>Cantidad</th>
                      <th>Pagado</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for invoice in invoices %}
                    <tr {% if not invoice.paid %}class="danger"{% endif %}>
                      <td>{{ invoice.number }}</td>
                      <td>{{ invoice.date.date }}</td>
                      <td>{{ invoice.amount_due }} €</td>
                      <td>{% if invoice.paid %}
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        {% else %}
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        {% endif %}
                      </td>
                      <td>
                        <a href="{{ invoice.hosted_invoice_url }}" target="_blank">
                        <button type="button" class="btn btn-primary btn-xs">
                          <span class="glyphicon glyphicon-file" aria-hidden="true"></span> Ver
                        </button>
                        </a>
                        <a href="{{ invoice.invoice_pdf }}" target="_blank">
                        <button type="button" class="btn btn-danger btn-xs">
                          <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> PDF
                        </button>
                        </a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            {% else %}
              <p>Aún no se ha generado ninguna factura en Stripe</p>
            {% endif %}

          </div>
        </div>
{% endblock %}


{% block extrastyles %}
    <link href="{% static "css/dashboard_form.css" %}" rel="stylesheet">
{% endblock %}
