{% extends "alertas/base.html" %}
{% load staticfiles %}
{% load bootstrap %}

{% comment %}
      {% if customer.can_charge %}
      <p>Pagar con otra tarjeta:</p>
      {% endif %}

if producto == subscription:...
{% endcomment %}

{% block title %}Cesta | LibreBORME{% endblock %}

{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

  {% if active_subscriptions > 0 %}
  <div class="alert alert-warning" role="alert">Ya tienes al menos una suscripción activa de este tipo</div>
  {% endif %}

  {% if not user.profile.is_complete %}
  <div class="alert alert-warning" role="alert">
  Necesitas completar <a href="{% url 'alertas-profile' %}">tu perfil</a> antes para poder contratar algún servicio
  </div>
  {% endif %}

  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}" role="alert">{{ message | safe }}</div>
  {% endfor %}

  {% if user.profile.is_complete %}
    <h1 class="page-header">Cesta de la compra</h1>

    {% if not product %}
    <p>Tu cesta está vacía</p>
    {% endif %}

    {% if product %}
    {% include 'alertas/elements/cart_product.html' %}
    {% endif %}
  
  {% endif %}

</main>

{% endblock %}

{% block extrajs %}
  <script type="text/javascript">
    var stripe = Stripe('{{ STRIPE_PUBLIC_KEY }}');
  </script>
  <script src="{% static "js/buy.js" %}"></script>
{% endblock %}

{% block extrastyles %}
    {# <link href="{% static "css/buy.css" %}" rel="stylesheet"> #}
{% endblock %}
