{% extends "alertas/base.html" %}
{% load staticfiles %}
{% load bootstrap %}

{% comment %}
      {% if customer.can_charge %}
      <p>Pagar con otra tarjeta:</p>
      {% endif %}
{% endcomment %}

{% block title %}Cesta | LibreBORME{% endblock %}

{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

    {% if show_subscription_trial %}
    <div class="alert alert-warning" role="alert">Tienes un periodo de prueba de {{ service_subscription_trial_day }} días para este servicio</div>
    {% endif %}

    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" role="alert">{{ message | safe }}</div>
    {% endfor %}

    {% if user_complete %}
        <h1 class="page-header">Cesta de la compra</h1>

        <p>
        {% if product %}
          Tienes <strong>1 producto</strong> en tu cesta
        {% else %}
          Tu cesta está vacía
        {% endif %}
        </p>

        {% if product %}
        <div class="row">
		  <div class="offset-sm-3 col-sm-6">
            <p>
              1) <i class="fas fa-shopping-cart fa-5x"></i>
              <i class="fas fa-ellipsis-h fa-3x"></i>
              2) <i class="far fa-credit-card fa-5x"></i>
              <i class="fas fa-ellipsis-h fa-3x"></i>
              3) <i class="fas fa-check-circle fa-5x"></i>
            </p>
          </div>
        </div>

        <h1 class="title-section">Forma de pago</h1>
        <div class="row">
          <div class="col-12 col-lg-8 col-xl-6">
            <p>TODO: explicar pago proporcional.</p>
            <p>El próximo cargo se realizará el día 1 del siguiente mes. <a href="{% url 'alertas-tos' %}">Términos y condiciones</a>.</p>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Producto</th>
                            <th scope="col" class="text-center">Unidades</th>
                            <th scope="col" class="text-center">Precio</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ product.name }}</td>
                            <td class="text-center">1</td>
                            <td class="text-center">{{ product.price|floatformat:2 }} €</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td class="text-right">Subtotal</td>
                            <td class="text-center">{{ total_price|floatformat:2 }} €</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td class="text-right">IVA ({{ tax_percentage}}%)</td>
                            <td class="text-center">{{ tax_amount|floatformat:2 }} €</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td class="text-right"><strong>Total</strong></td>
                            <td class="text-center"><strong>{{ total_with_tax|floatformat:2 }} €</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 text-right">
                    <a href="{% url 'alertas-removecart' %}">
                      <button type="button" class="btn btn-danger btn-block">
                        <i class="fas fa-trash-alt"></i> Vaciar cesta
                      </button>
                    </a>
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                    <a href="#" onclick="toggle_hide('payment-div');return false;">
                      <button type="button" class="btn btn-success btn-block">
                        <i class="fas fa-shopping-cart"></i> Pagar ahora
                      </button>
                    </a>
                </div>
            </div>
          </div>
        </div>

    <main id="payment-div">

    {% if customer.can_charge %}
    <p>Tus tarjetas:</p>

      <div class="row">
        <div class="col-sm-6">

          <table class="table table-hover table-condensed">
            <thead>
              <tr>
                <td></td>
                <td>Titular</td>
                <td>Fecha de caducidad</td>
                <td></td>
              </tr>
            </thead>
            <tbody>
            {% for card in cards %}
              <tr>
                <td>
                  <p>
                  <img src="/static/card_{{ card.brand }}.png" width=42 height=26>
                  **** **** **** <strong>{{ card.last4 }}</strong>
                  </p>
                  {% if card.stripe_id == customer.default_source_id %}
                  <p>
                    <i class="fas fa-check-square"></i> Predeterminada
                  </p>
                  {% endif %}
                </td>
                <td>
                  <strong>{{ card.name }}</strong>
                </td>
                <td>
                   <strong>{{ card.exp_month | stringformat:"02d" }}/{{ card.exp_year }}</strong>
                </td>
                <td>
                  <form action="{% url 'checkout_existing' %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" name="update" class="btn btn-primary" value="Usar esta tarjeta">
                  </form>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

    {% endif %}

    {% endif %}
    </main>
      {% endif %}

</main>
{% endblock %}

{% block extrajs %}
  <script type="text/javascript">
    var stripe = Stripe('{{ STRIPE_PUBLIC_KEY }}');
  </script>
  <script src="{% static "js/buy.js" %}"></script>
{% endblock %}

{% block extrastyles %}
    {# <link href="{% static "css/buy.css" %}" rel="stylesheet"> #}
{% endblock %}
