{% extends "alertas/base_dashboard.html" %}

{% block content %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Ayuda</h1>

          <h3>Sobre el Panel de Alertas</h3>
          <p>El <strong>Panel de Alertas</strong> de LibreBORME es un servicio de suscripción para recibir alertas por e-mail.</p>

          <h3>¿Cómo añadir una alerta?</h3>
          <p>Para las Alertas de Empresas y Personas, puedes añadirlas a través de la página de la empresa o persona, usando el botón "Seguir"</p>
          <p>Para las Alertas de Actos Mercantiles, debes definirlas en la sección <a href="{% url 'alertas-list' %}">Alertas</a>.</p>

          <h3>¿Cuándo recibiré las alertas?</h3>
          <p>Todas las alertas se envían entre las 9AM y las 12PM.</p>
          <p>Para las Alertas de Empresas y Personas, recibirás una alerta por e-mail cuando éstas hayan aparecido en un Boletín Oficial.</p>
          <p>En el caso de las Alertas de Actos Mercantiles (Por ejemplo: <em>Liquidación de empresas</em>) dependerá de la periodicidad que haya especificado:
            <ul>
              <li>En el caso de ser <strong>diaria</strong> las alertas se enviarán de lunes a viernes.</li>
              <li>En el caso de ser <strong>semanal</strong> las alertas se enviarán los viernes.</li>
              <li>En el caso de ser <strong>mensual</strong> las alertas se enviarán el día 1 de cada mes.</li>
            </ul>
          </p>

          <h3>¿Existe un periodo de prueba para los planes de pago?</h3>
          <p>El plan de pago de Followers no tiene período de prueba ya que se puede probar hasta 5 followers</p>
          <p>Al actualizar tu plan para Alertas de Actos Mercantiles, tu cuenta tiene un período de prueba gratuito de 7 días. Si cancelas el plan antes del período de prueba, no tendrá ningún coste para ti.</p>

          <h3>¿Cómo ponerme en contacto para hacer otra consulta?</h3>
          <p>Para cualquier otra duda o consulta puedes escribirnos a <a href="mailto:contacto@libreborme.net"><strong>contacto@libreborme.net</strong></a> y nos pondremos en contacto contigo lo antes posible.</p>
        </div>
{% endblock %}
