{% extends "alertas/base_dashboard.html" %}

{% block content %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Información de la cuenta</h1>

          <p>Tipo de cuenta: <strong>{{ user.profile.get_account_type_display }}</strong></p>
          <p>Fecha de alta: <strong>{{ user.date_joined.date }}</strong></p>

          <h2 class="sub-header">Subscripciones (LBInvoices) activas</h2>

          {% if lbinvoices %}
            <ul>
            {% for subscription in lbinvoices %}
              <li><a href="{{ subscription.get_absolute_url }}">{{ subscription.description }}</a>, hasta: {{ subscription.end_date | date }}</li>
            {% endfor %}
            </ul>
          {% else %}
            <p>Ninguna</p>
          {% endif %}

          <h2 class="sub-header">Alertas definidas</h2>
          <p>Tienes <span>{{ n_alertas }}</span> alerta{{ n_alertas|pluralize }} definida{{ n_alertas|pluralize }} en total.

          <div class="row">
          <div class="col-sm-3">
            <table class="table">
              <thead>
                <tr>
                  <th>Tipo de alerta</th>
                  <th>Alertas definidas</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Personas</td>
                  <td>{{ count_p }} / {{ limite_p }}</td>
                </tr>
                <tr>
                  <td>Empresas</td>
                  <td>{{ count_c }} / {{ limite_c }}</td>
                </tr>
                <tr>
                  <td>Acto</td>
                  <td>{{ count_a }} / {{ limite_a }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          </div>

          <h2 class="sub-header">Stripe</h2>
          <p>Customer ID: {{ customer.stripe_id }}</p>

            {% if customer.has_any_active_subscription %}
              <p>You have active subscriptions</p>
              <p>There are actually {{ stripe_subscriptions | length }} subscriptions.</p>
              <ul>
                  {% for subscription in stripe_subscriptions %}
                  <li>{{ subscription }} (is_period_current: {{ subscription.is_period_current }}, is_status_current: {{ subscription.is_status_current }}, is_status_temporarily_current: {{ subscription.is_status_temporarily_current }})</li>
                  {% endfor %}
              </ul>
            {% else %}
              <p>You don't have any active subscription</p>
            {% endif %}
          <p>Suscripciones activas (status=active, end in future):</p>
          <ul>
            {% for subscription in customer.active_subscriptions %}
            <li>{{ subscription }}</li>
            {% empty %}
            <li>Ninguna</li>
            {% endfor %}
          </ul>
          <p>Suscripciones válidas (status!=canceled):</p>
          <ul>
            {% for subscription in customer.valid_subscriptions %}
            <li>{{ subscription }}</li>
            {% empty %}
            <li>Ninguna</li>
            {% endfor %}
          </ul>
          <p>Puede ser cobrado: {{ customer.can_charge}}</p>
          <p>Upcoming invoice: {{ upcoming_invoice }}</p>

        </div>

{% endblock %}
