{% extends "alertas/base.html" %}
{% load bootstrap %}
{% load compress %}
{% load staticfiles %}

{% block title %}Panel de alertas | LibreBORME{% endblock %}

{% block extrastyles %}
{% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'assets/css/panel.scss' %}">
{% endcompress %}
{% endblock %}

{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
    {% endfor %}

    <section class="panel">
        <div class="row">
            <div class="col-md-12">
                <h1 class="title-section">
                    <span>|</span>Mi cuenta
                </h1>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <h3 class="subtitle-panel">Servicios contratados</h3>

                {% if customer.has_any_active_subscription %}
                <p>Tiene las siguientes suscripciones activas</p>
                {% include 'alertas/table_active_subscriptions.html' with subscriptions=customer.subscriptions.all %}
                {% else %}
                <p class="description mt-4">No tienes ningún servicio contratado actualmente.</p>
                <p class="description">Sin embargo, puedes probar el servicio de <a href="{% url 'service-follow' %}">Seguimiento</a> de forma gratuita (limitado a {{ free_follows }} alertas).</p>
                <p class="description">Puedes obtener más información sobre los servicios que ofrecemos en la página de <a href="{% url 'services' %}" target="_blank">servicios</a>.</p>
                {% endif %}

                {% comment %}
                TODO: cerrar cuenta
                <div class="mt-5">
                    <a class="color-red-dark" href="#" role="button"><i class="far fa-trash-alt"></i> Cerrar mi cuenta</a>
                </div>
                {% endcomment %}

            </div>
        </div>
    </section>
</main>
{% endblock %}
