{% extends "alertas/base_dashboard.html" %}

{% block content %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Información de la cuenta</h1>

          <p>Tipo de cuenta: <strong>{{ user.profile.get_account_type_display }}</strong>
            {% if user.profile.account_type == 'free' %}
              La cuenta gratuita te permite activar 3 alertas.
              {% include 'upgrade_button.html' %}
            {% endif %}
          </p>
          <p>Fecha de alta: <strong>{{ user.date_joined.date }}</strong></p>

          <a href="#">
          <button type="button" class="btn btn-danger btn-xs">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Cerrar mi cuenta
          </button>
          </a>

          <h2 class="sub-header">Suscripciones activas / Productos suscritos</h2>

          {% if customer.has_any_active_subscription %}
            <p>Tiene las siguientes suscripciones activas</p>

            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Suscripción</th>
                    <th>Comienzo</th>
                    <th>Final del período</th>
                    <th>Cantidad</th>
                    <th>Estado</th>
                    <th>Período de prueba</th>
                    <th>Otros</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  {% for subscription in customer.subscriptions.all %}
                  <tr {% if subscription.status != 'trialing' %}class="success"{% else %}class="warning"{% endif %}>
                    <td>{{ subscription.plan.nickname }}</td>
                    <td>{{ subscription.start.date }}</td>
                    <td>{{ subscription.current_period_end.date }}</td>
                    <td>{{ subscription.quantity }}</td>
                    <td>
                      {% if subscription.status == 'trialing' %}
                      <span class="label label-warning">{{ subscription.status }}</span>
                      {% elif subscription.status == 'active' %}
                      <span class="label label-success">{{ subscription.status }}</span>
                      {% else %}
                      <span class="label label-danger">{{ subscription.status }}</span>
                      {% endif %}
                    </td>
                    <td>{% if subscription.trial_end %}
                            Hasta el {{ subscription.trial_end.date }}
                        {% else %}
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        {% endif %}</td>
                    <td>
                       is_period_current: {{ subscription.is_period_current }}, is_status_current: {{ subscription.is_status_current }}, is_status_temporarily_current: {{ subscription.is_status_temporarily_current }}
                    </td>
                    <td>
                      {% if subscription.status == 'trialing' %}
                        {% if subscription.cancel_at_period_end %}
                        Cancelada el {{ subscription.canceled_at.date }}
                        {% else %}
                          <a href="#">
                          <button type="button" class="btn btn-primary btn-xs">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Cancelar
                          </button>
                          </a>
                        {% endif %}
                      {% endif %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>

          {% else %}
            <p>No tiene ninguna suscripción activa</p>
          {% endif %}

          <h2 class="sub-header">Datos de envío/facturación?</h2>
            <p>(TEST if customer has configured shipping)</p>
            <p>{{ customer.shipping }}</p>

        </div>

{% endblock %}
