{% extends "alertas/base.html" %}
{% load staticfiles %}

{% comment %}
TODO: Poner bonito el estilo de la Tarjeta con un Card o algo
{% endcomment %}

{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
    {% endfor %}
    <section class="panel">
        <div class="row">
            <div class="col-md-12">
              <h1 class="title-section"><span>|</span>Tarjetas de crédito</h1>
            </div>
        </div>

          <div class="row">
            <div class="col-sm-12">
              <p>Configura tu tarjeta para ahorrar tiempo en las próximas compras.</p>
            </div>
          </div>

          {% if card %}
          <div class="row">
            <div class="col-sm-8">

              <p>Su tarjeta por defecto es la siguiente</p>
                <div class="form-group">

                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <td></td>
                        <td>Titular</td>
                        <td>Fecha caducidad</td>
                        <td></td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <p>
                          <img src="/static/card_{{ card.brand }}.png" width=42 height=26>
                          **** **** **** <strong>{{ card.last4 }}</strong>
                          </p>
                          <p>
                           Añadida el <strong>{{ card.djstripe_created|date:"d/m/y" }}</strong>
                          </p>
                        </td>
                        <td>
                          <strong>{{ card.name }}</strong>
                        </td>
                        <td>
                                <strong>{{ card.exp_month | stringformat:"02d" }}/{{ card.exp_year }}</strong>
                        </td>
                        <td>
                          <a class="remove_card" id="{{ card.id }}">
                            <button type="button" class="btn btn-danger btn-xs">
                                <i class="fas fa-trash-alt"></i> Eliminar
                            </button>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          {% endif %}

          <div class="row">
            <div class="col-sm-12">

              <form action="{% url 'alertas-payment-add-card' %}" method="POST">
                {% csrf_token %}
                <script
                  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="{{ STRIPE_PUBLIC_KEY }}"
                  data-email="{{ user.email }}"
                  data-zip-code="true"
                  data-billing-address="true"
                  data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                  data-name="Libreborme"
                  data-panel-label="Actualizar"
                  data-label="Actualizar tarjeta de crédito"
                  data-allow-remember-me=false
                  data-currency="eur"
                  data-locale="auto">
                </script>
              </form>
            </div>
          </div>



            {% comment %}
            <!-- https://bootsnipp.com/snippets/featured/credit-card-payment-with-stripe -->

            <form action="#" role="form" method="post">
              <div class="row">
                <div class="col-sm-5">
                  {% csrf_token %}
                  <legend>Añadir tarjeta de crédito</legend>
                  {{ form | bootstrap_horizontal:'col-sm-4' }}
                </div>
              </div>
              <div class="row">
                <div class="form-group">
                  <input type="submit" name="update" class="btn btn-primary" value="Añadir">
                </div>
              </div>
            </form>
            {% endcomment %}

            <div class="row">
              <div class="col-sm-8">
                <p class="help-block">
                  <i class="fas fa-lock mt-3"></i> <strong>Pago seguro.</strong>
                  Usamos <a href="https://stripe.com/es" target="_blank">Stripe</a>
                  como pasarela de pago. LibreBORME no almacena los datos de su tarjeta.
                </p>
              </div>
            </div>

        </div>
    </section>
</main>
{% endblock %}


{% block extrastyles %}
    <link href="{% static "css/dashboard_form.css" %}" rel="stylesheet">
{% endblock %}

{% block extrajs %}
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha384-Dziy8F2VlJQLMShA6FHWNul/veM9bCkRUaLqr199K94ntO5QUrLJBEbYegdSkkqX" crossorigin="anonymous"></script>
  <script src="{% static "js/libreborme.js" %}"></script>

  <script>
    function remove_card(cardId) {
      AjaxRequest("{% url 'remove_card' %}?cardId=" + cardId, function (res) {
        setTimeout(location.reload(), 3000);
      }, "get", null);
    }

    $("a.remove_card").click(function(ev) {
      var cardid = $(ev.currentTarget).attr("id");
      remove_card(cardid);
    });

  </script>
{% endblock %}
