{% load staticfiles %}

<div class="view-servicios mt-4">
    <section class="contenido-servicio pt-0">
        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                    <h4>Bono de notificaciones</h4>
                    <h3>2,99€ / mes</h3>
                    <p class="card-text">Pago anual</p>
                    <hr>
                    <p><img src="{% static 'assets/img/servicios/stick.png' %}" alt="">Bono de {{ max_alertas_follower_paid }} alertas</p>
                </div>
                <a href="#" class="btn_service_follow">
                    <div class="card-footer text-center">
                        <p>Suscribirme</p>
                    </div>
                </a>
            </div>
        </div>
     </section>
</div>
