{% extends "alertas/base.html" %}
{% load bootstrap %}
{% load compress %}
{% load staticfiles %}

{% block title %}Mi perfil | LibreBORME{% endblock %}

{% comment %}
css

    <div class="form-group row">
        <label for="inputProvince" class="col-sm-3 col-form-label">Provincia</label>
        <div class="col-sm-9">
            <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                <option selected>Provincia</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
    </div>
{% endcomment %}

{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
    {% endfor %}

    {% if not user.profile.is_complete %}
    <div class="alert alert-warning" role="alert">Necesitas completar tu perfil para poder contratar algún servicio</div>
    {% endif %}
    <section class="panel">
        <div class="row">
            <div class="col-md-12">
                <h1 class="title-section">
                    <span>|</span>Mi perfil
                </h1>
            </div>
        </div>
        <form class="mt-4" action="{% url "alertas-settings-billing" %}" role="form" method="post">
            {% csrf_token %}
            <div class="row mt-3">
                <div class="col-12 col-lg-8 col-xl-6 pr-5">
                    <h3 class="subtitle-panel mb-4">Datos de contacto</h3>
                    {{ form_personal|bootstrap_horizontal }}

                    {% comment %}
                    TODO
                    <a class="change-pass" href="{% url 'password_change' %}">Cambiar contraseña</a>
                    {% endcomment %}

                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 col-lg-8 col-xl-6 pr-5">
                    <h3 class="subtitle-panel mb-4">Datos de Facturación</h3>
                    {{ form_profile|bootstrap_horizontal }}
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 col-lg-8 col-xl-6 pr-5">
                    <h3 class="subtitle-panel mb-4">Boletín</h3>
                     {{ form_newsletter|bootstrap_horizontal }}
                     <div class="row mt-5">
                         <div class="col-md-12">
                             <input type="submit" name="update" class="btn btn2 btn-primary2 btn-transparent" value="Actualizar">
                         </div>
                     </div>
                </div>
            </div>
        </form>
    </section>
</main>
{% endblock %}
