{% extends "alertas/base.html" %}
{% load bootstrap %}
{% load compress %}
{% load staticfiles %}

{% block title %}Panel de alertas | LibreBORME{% endblock %}

{% block content %}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

    <div id="messages"></div>
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
    {% endfor %}

    <h1 class="page-header">Mi lista de Seguimiento</h1>

    <h3 class="subtitle-panel mt-4">¿Cómo funciona?</h3>
    <p>Mediante el Servicio de Seguimiento recibirás un email cada vez que una persona o una empresa aparezca en un Boletín Oficial.</p>
    <p>Prueba el servicio de forma gratuita con {{ max_alertas_follower_free }} personas o empresas de tu elección. Si necesitas más, puedes contratar el bono anual de {{ max_alertas_follower_paid }} empresas.

    <p>Para añadir a una empresa o persona a tu lista de seguimiento, localízala usando el buscador y haz click en el botón

       <button id="follow-button" type="button" class="btn-secondary btn-details""">
         <i class="fas fa-eye"></i> Seguir
       </button>
       que verás en su página.
    </p>

    {% comment %}
    <form class="mx-4 col-sm-4" target="_blank" role="search" action="{% url "borme-search" %}" method="get">
        <div class="form-row">
            <div class="col-12">
                <label class="sr-only" for="inlineFormInputGroup">Username</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="q" id="inlineFormInputGroup" placeholder="Buscar por nombre de persona o empresa">
                    <input type="hidden" name="page" value="1">
                    <input type="hidden" name="type" value="all">

                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <a href="#"><i class="fas fa-search"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="col-sm-6">
      <img src="{% static 'img/como_seguir.png' %}" style="border:1px solid black">
    </div>
    {% endcomment %}

    {% if current_follows == 0 %}
    {# #}
    {% endif %}

    {% if subscriptions %}
    <h1 class="title-section mt-4"><span>|</span>Planes contratados</h1>
    {% include 'alertas/table_active_subscriptions.html' %}
    {% endif %}

    <h1 class="title-section mt-4">Lista de Seguimiento</h1>
    <div class="row">

        <div class="col-sm-9">
            {% if remaining_follows > 0 %}
            <p>Dispones aún de {{ remaining_follows }} alertas.</p>
            {% else %}
            <p>Has agotado todas tus alertas</p>
            {% endif %}
            <p>Los precios mostrados en esta página no incluyen IVA.</p>
            {% if followers %}
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                         <tr>
                             <th>Tipo</th>
                             <th>Nombre</th>
                             <th>Última actualización</th>
                             <th></th>
                         </tr>
                     </thead>
                    <tbody>
                        {% for follower in followers %}
                        <tr>
                            <td class="follow-type">{{ follower.type }}</td>
                            <td><a target="_blank" href="{{ follower.get_absolute_url }}">{{ follower.slug }}</a></td>
                            <td>{{ follower.last_update }}</td>
                            <td>
                                 <button type="button" class="btn btn-danger btn-xs unfollow-company" data="{{ follower.slug }}">
                                     <i class="fas fa-trash-alt"></i> Eliminar
                                 </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                 </table>
            </div>

        </div>
        <div class="col-sm-3">
        {% else %}
        </div>
        <div class="col-sm-3 offset-sm-9">
            <p><strong>¿Necesitas seguir a más empresas?</strong></p>

            <div class="view-servicios mt-4">
                <section class="contenido-servicio pt-0">
                    <div class="card-deck">
                        <div class="card">
                            <div class="card-body">
                                <h4>Bono de notificaciones</h4>
                                <h3>{{ plan_follow_month_price }}€ / mes</h3>
                                <p class="card-text">Pago anual</p>
                                <hr>
                                <p><img src="{% static 'assets/img/servicios/stick.png' %}" alt="">Bono de {{ max_alertas_follower_paid }} alertas</p>
                            </div>
                            <a href="{% url 'buy-product' product=plan_year.nickname %}">
                                <div class="card-footer text-center">
                                    <p>Suscribirme</p>
                                </div>
                            </a>
                        </div>
                    </div>
                 </section>
            </div>
        </div>
        {% endif %}
    </div>
    </div>

</main>

<div style="display: none" id="sample-alert">
  <div class="alert" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>


{% endblock %}

{% block extrastyles %}
{% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'assets/css/servicios.scss' %}">
{% endcompress %}
{% endblock %}

{% block extrajs %}
  {% comment %}
  <script src="{% static "alertas.js" %}"></script>
  {% endcomment %}
  <script src="{% static "follow.js" %}"></script>

  <script>
    $(".unfollow-company").click(function(ev) {
      var button = $(ev.currentTarget);
      var slug = $(button).attr("data");
      var type = $(button).parent().parent().children('td.follow-type').text();
      var csrftoken = getCookie('csrftoken');
      configCsrf(csrftoken);

      $.ajax({
        method: "POST",
        url: "{% url 'borme-ajax-follow' %}",
        data: {slug: slug, type: type}
      })
      .done(function(xhr, textStatus) {
        var resp = $.parseJSON(xhr);
        if ((typeof resp.following !== 'undefined') && (!resp.following)) {
          var link = $('a:contains("' + resp.slug + '")').filter(function(index) {
              return $(this).text() === resp.slug;
          });
          link.parent().parent().remove();
        }

        var message = $("#sample-alert").children('div').clone();
        console.log('asd');
        message.addClass("alert-success");
        message.prepend('Se ha borrado la alerta para <a href="#" class="alert-link">' + resp.slug + '</a>');
        $("#messages").append(message);
      })
      .fail(function(xhr) {
      })
      .always(function(xhr, textStatus) {
      });
    });
  </script>
{% endblock %}

{% comment %}
{% block extrastyles %}
    <link href="{% static "css/dashboard_form.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" integrity="sha384-xewr6kSkq3dBbEtB6Z/3oFZmknWn7nHqhLVLrYgzEFRbU/DHSxW7K3B44yWUN60D" crossorigin="anonymous">
{% endblock %}

{% endcomment %}
