{% extends "alertas/base_dashboard.html" %}
{% load staticfiles %}
{% load bootstrap %}

{% block content %}

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <div id="messages"></div>
          <h1 class="page-header">Seguimiento</h1>

            <p>Aquí puedes definir tus alertas de seguimiento en LibreBORME.</p>
            <p>Recibirás un email cada vez que una persona o una empresa monitoreada aparezca en un BORME</p>

          <h3>¿Cómo añadir una alerta?</h3>
          <p>Para las Alertas de Empresas y Personas, puedes añadirlas a través de la página de la empresa o persona, usando el botón "Seguir"</p>

          <h3>¿Cuándo recibiré las alertas?</h3>
          <p>Todas las alertas se envían entre las 9AM y las 12PM.</p>
          <p>Para las Alertas de Empresas y Personas, recibirás una alerta por e-mail cuando éstas hayan aparecido en un Boletín Oficial.</p>

          <h2>Suscripciones</h2>
          {% if subscriptions %}
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Suscripción</th>
                    <th>Comienzo</th>
                    <th>Final del período</th>
                    <th>Cantidad</th>
                    <th>Estado</th>
                    <th>Período de prueba</th>
                    <th>Otros</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  {% for subscription in subscriptions %}
                  <tr {% if subscription.status != 'trialing' %}class="success"{% else %}class="warning"{% endif %}>
                    <td>{{ subscription.plan.nickname }}</td>
                    <td>{{ subscription.start.date }}</td>
                    <td>{{ subscription.current_period_end.date }}</td>
                    <td>{{ subscription.quantity }}</td>
                    <td>
                      {% if subscription.status == 'trialing' %}
                      <span class="label label-warning">{{ subscription.status }}</span>
                      {% elif subscription.status == 'active' %}
                      <span class="label label-success">{{ subscription.status }}</span>
                      {% else %}
                      <span class="label label-danger">{{ subscription.status }}</span>
                      {% endif %}
                    </td>
                    <td>{% if subscription.trial_end %}
                            Hasta el {{ subscription.trial_end.date }}
                        {% else %}
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        {% endif %}</td>
                    <td>
                       is_period_current: {{ subscription.is_period_current }}, is_status_current: {{ subscription.is_status_current }}, is_status_temporarily_current: {{ subscription.is_status_temporarily_current }}
                    </td>
                    <td>
                      {% if subscription.status == 'trialing' %}
                        {% if subscription.cancel_at_period_end %}
                        Cancelada el {{ subscription.canceled_at.date }}
                        {% else %}
                          <a href="#">
                          <button type="button" class="btn btn-primary btn-xs">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Cancelar
                          </button>
                          </a>
                        {% endif %}
                      {% endif %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          {% else %}
          <p>No tienes ninguna suscripción</p>
          {% endif %}

          <h2 class="sub-header">Alertas de personas y empresas</h2>
          {% if restantes_f > 0 %}
              <p>Dispones aún de {{ restantes_f }} alertas. <a href="#" data-toggle="modal" data-target="#alerta-follow-modal">Añade una alerta nueva</a>.</p>
          {% else %}
              <p>Has agotado todas tus alertas
              {% include 'upgrade_button.html' %}
              </p>
          {% endif %}
          <div class="row">
          {% if followers %}
            <div class="col-sm-9">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Tipo</th>
                    <th>Nombre</th>
                    <th>Última actualización</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                {% for follower in followers %}
                  <tr>
                    <td class="follow-type">{{ follower.type }}</td>
                    <td><a target="_blank" href="{{ follower.get_absolute_url }}">{{ follower.slug }}</a></td>
                    <td>{{ follower.last_update }}</td>
                    <td>
                      <button type="button" class="btn btn-danger btn-xs unfollow-company" data="{{ follower.slug }}">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Eliminar
                      </button>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>

            </div>
            </div>
          {% endif %}
            <div class="col-sm-2">
              {% include 'pricing_alerts_table.html' %}
            </div>
          </div>

        </div>

<div class="modal fade" id="alerta-follow-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="loginmodal-container">
      <form action="#" role="form" method="post">
        <legend>Añadir una nueva Alerta</legend>
          {% csrf_token %}
          {{ form_f|bootstrap }}
          <div class="form-group">
            <input type="submit" name="create" class="login loginmodal-submit" value="Crear">
          </div>
      </form>
    </div>
  </div>
</div>

<div style="display: none" id="sample-alert">
  <div class="alert fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>


{% endblock %}

{% block extrastyles %}
    <link href="{% static "css/dashboard_form.css" %}" rel="stylesheet">
    <link href="{% static "jquery-ui-1.12.1.custom/jquery-ui.css" %}" rel="stylesheet" >
{% endblock %}

{% block extrajs %}
  <script src="{% static "jquery-ui-1.12.1.custom/jquery-ui.js" %}"></script>
  <script src="{% static "alertas.js" %}"></script>
  <script src="{% static "follow.js" %}"></script>

  <script>
    $(".unfollow-company").click(function(ev) {
      var button = $(ev.currentTarget);
      var slug = $(button).attr("data");
      var type = $(button).parent().parent().children('td.follow-type').text();
      var csrftoken = getCookie('csrftoken');
      configCsrf(csrftoken);

      $.ajax({
        method: "POST",
        url: "{% url 'borme-ajax-follow' %}",
        data: {slug: slug, type: type}
      })
      .done(function(xhr, textStatus) {
        var resp = $.parseJSON(xhr);
        if ((typeof resp.following !== 'undefined') && (!resp.following)) {
          var link = $('a:contains("' + resp.slug + '")').filter(function(index) {
              return $(this).text() === resp.slug;
          });
          link.parent().parent().remove();
        }

        var message = $("#sample-alert").children('div').clone();
        message.addClass("alert-success");
        message.prepend('Se ha borrado la alerta para <a href="#" class="alert-link">' + resp.slug + '</a>');
        $("#messages").append(message);
      })
      .fail(function(xhr) {
      })
      .always(function(xhr, textStatus) {
      });

    });
  </script>
{% endblock %}
