{% extends "alertas/base.html" %}
{% load staticfiles %}
{% load bootstrap %}

{% block title %}Suscripciones | LibreBORME{% endblock %}

{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
    {% endfor %}
    {% if not user.profile.has_tried_subscriptions %}
    <div class="alert alert-primary" role="alert">
        Tu primera suscripción incluye un periodo de prueba de {{ service_subscription_trial_day }} días que puedes cancelar en este periodo
        sin que esto tenga ningún coste.
    </div>
    {% endif %}
    <h1 class="page-header">Mis suscripciones</h1>

    <h3 class="subtitle-panel mt-4">¿Cómo funciona?</h3>
    <div class="row">
        <div class="col-sm-6">
            <p>Mediante el Servicio de Suscripciones recibirás información mercantil de determinados tipos de eventos.
               Por ejemplo:</p>
            <ul>
                <li>Constitución de <strong>nuevas empresas</strong> e información sobre sus administradores</li>
                <li>Empresas que <strong>cambian de administrador</strong></li>
                <li>Empresas que han entrado en <strong>concurso de acreedores</strong> o liquidación</li>
            </ul>
            <p>Una vez suscrito recibirás cada día en tu email la información seleccionada.</p>
        </div>
    </div>

    {% if subscriptions %}
    {% comment %}
    <h1 class="title-section mt-4"><span>|</span>Planes contratados</h1>
    {% include 'alertas/table_active_subscriptions.html' %}
    {% endcomment %}
    <h1 class="title-section mt-3"><span>|</span>Lista de Suscripciones</h1>
    <p>Tienes {{ current }} suscripciones activas.
        {% if remaining > 0 %} Aún puedes añadir {{ remaining }} más.{% endif %}
        </p>

    <div class="row">
        <div class="col-sm-6">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Tipo de evento</th>
                            <th>Provincia</th>
                            <th>Recibir E-mail</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for alerta in alertas_a %}
                      <tr class="subs_row">
                        <td class="subs_id">{{ forloop.counter }}</td>
                        <td class="subs_evt">{{ alerta.get_evento_display }}</td>
                        <td class="subs_prov">{{ alerta.get_provincia_display }}</td>
                        <td class="subs_period">{{ alerta.get_periodicidad_display }}</td>
                        <td class="subs_actions">
                          <button type="button" class="btn btn-warning btn-xs" onclick="return open_modal('{% url 'update-subscription' alerta.pk %}')">
                            <i class="fas fa-pencil-alt"></i> Editar
                          </button>
                        </td>
                      </tr>
                    {% endfor %}
                    {% comment %}
                    <form class="" action="{% url "alertas-new-acto" %}" role="form" method="post">
                      {% csrf_token %}
                      <tr class="">
                        <td>{{ current|add:1 }}</td>
                        {% for field in form_alertas.visible_fields %}
                        <td>{{ field }}</td>
                        {% endfor %}
                        <td>
                            <button type="submit" class="btn btn-danger btn-xs editSubscriptionBtn"><i class="fas fa-save"></i> Guardar</button>
                        </td>
                      </tr>
                    </form>
                    {% endcomment %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
	<a href="#" class="list-inline-item" data-dismiss="modal" data-toggle="modal" data-target="#infoSubscriptions">Contratar otra suscripción</a>
    {% else %}
    <h1 class="title-section mt-3"><span>|</span>Contratar</h1>

    <div class="row">
        <div class="col-sm-6">
            <form id="buy_form" class="" action="{% url "buy-product-new" %}" role="form" method="post">
            {% csrf_token %}
            <h3 class="subtitle-panel mb-4 mt-4">Formulario de suscripción</h3>
            <div class="form-group row">
                <label class="control-label col-sm-3" for="id_buy_evento">Tipo de evento</label>
                <div class="col-sm-5">
                    {{ form_subscription_buy.evento}}
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-3" for="id_buy_provincia">Provincia</label>
                <div class="col-sm-5">
                    {{ form_subscription_buy.provincia}}
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-3">Precio</label>
                <div class="col-sm-5">
                    <p class="font-weight-bold"><span class="price">{{ plan_month_one.amount }}</span>€ / mes + IVA</p>
                </div>
            </div>
            <input type="hidden" name="product" class="buy_field_product" value="{{ plan_month_one.nickname }}">
            <input type="hidden" name="periodicidad" value="daily">
            <input type="submit" name="addtocart" class="btn btn-outline-danger btn-outline-danger2 btn-sm" value="Añadir a la cesta">
            </form>
        </div>
        <div class="col-sm-5 offset-sm-1" style="-webkit-filter: grayscale(100%); filter: grayscale(100%);">
            {% include 'alertas/pricing_subscriptions_table.html' %}
        </div>
    </div>
    {% endif %}

</main>

<!-- Modal infoSubscriptions -->
<div class="modal fade modal-login" id="infoSubscriptions" tabindex="-1" role="dialog" aria-labelledby="infoSubscriptionsLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row justify-content-center w-100">
                    <div class="col-md-12">
                        <p class="text-header">Contratar suscripción</p>
                    </div>
                </div>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
					<h3 class="subtitle-panel mb-4">Planes y precios</h3>
				    {% include 'alertas/pricing_subscriptions_table.html' %}
                    <div class="row justify-content-md-center">
                        <div class="col-12">
							<form class="" action="{% url "buy-product-new" %}" role="form" method="post">
							{% csrf_token %}
							<h3 class="subtitle-panel mb-4">Formulario de suscripción</h3>
							<div class="form-group row">
								<label class="control-label col-sm-3" for="id_buy_evento">Tipo de evento</label>
								<div class="col-sm-7">
									{{ form_subscription_buy.evento}}
								</div>
							</div>
							<div class="form-group row">
								<label class="control-label col-sm-3" for="id_buy_provincia">Provincia</label>
								<div class="col-sm-7">
									{{ form_subscription_buy.provincia}}
								</div>
							</div>
							<div class="form-group row">
								<label class="control-label col-sm-3">Precio</label>
								<div class="col-sm-7">
                                    <p class="font-weight-bold"><span class="price">{{ plan_month_one.amount }}</span>€ / mes</p>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-sm-12">
                                    <p>Lea los <a target="_blank" href="{% url 'alertas-tos' %}">Términos y Condiciones del Servicio de Suscripciones</a>.</p>
								</div>
							</div>
                            <input type="hidden" name="product" class="buy_field_product" value="{{ plan_month_one.nickname }}">
							<input type="hidden" name="periodicidad" value="daily">
							<input type="submit" name="addtocart" class="btn btn-outline-danger btn-outline-danger2 btn-sm" value="Añadir a la cesta">
							</form>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extrajs %}
<script>
    $("#id_buy_provincia").change(function() {
        var value = $("#id_buy_provincia").val();
        if (value == 'all') {
            $(".price").text("{{ plan_month_full.amount }}");
            $(".buy_field_product").val("subscription_month_full")
        } else {
            $(".price").text("{{ plan_month_one.amount }}");
            $(".buy_field_product").val("subscription_month_one")
        }
    });
</script>


{% endblock %}
