{% extends "alertas/base.html" %}
{% load staticfiles %}
{% load bootstrap %}

{% block title %}Suscripciones | LibreBORME{% endblock %}

{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
    {% endfor %}
          <h1 class="page-header">Suscripciones</h1>

          <p>Mediante el Servicio de Suscripciones recibirás un email cada día con la información mercantil solicitada</p>
          <h1 class="title-section"><span>|</span>¿Cómo funciona?</h1>
          <div class="row">
            <div class="col-sm-6">
              <p>Elige un tipo de suscripción entre las siguientes:</p>
              <ul>
                <li>Empresas de nueva creación</li>
                <li>Empresas en concurso de acreedores / liquidación</li>
              </ul>
              <p>Cada día recibirás en tu email información con las nuevas empresas creadas / liquidadas</p>
              <p>Las suscripciones incluyen un período de prueba de 7 días. Puedes cancelar la suscripción en cualquier momento antes de los 7 días, sin que esto tenga ningún coste.</p>
              <p>El ciclo de facturación de la suscripción mensual comienza siempre el día 1 de cada mes. El primer mes será prorrateado.</p>
              <p>El período de prueba solo es válido la primera vez.</p>
            </div>
            <div class="col-sm-6">
              {% include 'alertas/pricing_subscriptions_table.html' %}
            </div>
          </div>


          <h1 class="title-section"><span>|</span>Lista de Suscripciones</h1>
          {% if subscriptions %}
            {% include 'alertas/table_active_subscriptions.html' %}
          {% else %}
          <p>No tienes ninguna suscripción</p>
          {% endif %}

          <p>Debes suscribirte a algo primero.</p>
          <p><a href="#" data-toggle="modal" data-target="#alerta-acto-modal">Añade una alerta nueva</a>.</p>
        {% if alertas_a %}
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Tipo de evento</th>
                <th>Provincia</th>
                <th>Enviar HTML</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
            {% for alerta in alertas_a %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ alerta.get_evento_display }}</td>
                <td>{{ alerta.get_provincia_display }}</td>
                <td>{% if alerta.send_html %}
                  <i class="fas fa-check"></i>
                  {% else %}
                  <i class="fas fa-times"></i>
                  {% endif %}
                </td>
                <td>
                  {% comment %}
                  <button type="button" class="btn btn-primary btn-xs">
                    <i class="fas fa-pencil-alt"></i> Editar
                  </button>
                  {% endcomment %}
                  <a href="{% url 'alerta-remove-acto' alerta.id %}">
                  <button type="button" class="btn btn-primary btn-xs">
                    <i class="fas fa-trash-alt"></i> Eliminar
                  </button>
                  </a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        {% else %}
          {% if restantes_a > 0 %}
            <p>Aún no tienes configurada ninguna alerta. <a href="#" data-toggle="modal" data-target="#alerta-acto-modal">Añade una alerta nueva</a>.</p>
          {% endif %}
        {% endif %}


<div class="modal fade" id="alerta-acto-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="loginmodal-container">
      <form action="{% url "alertas-new-acto" %}" role="form" method="post">
        <legend>Añadir una nueva Alerta</legend>
          {% csrf_token %}
          {{ form_a|bootstrap }}
          <div class="form-group">
            <input type="submit" name="create" class="login loginmodal-submit" value="Crear">
          </div>
      </form>
    </div>
  </div>
</div>
</main>

{% endblock %}
