<div class="row">
    <div class="col-12 col-lg-9">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Concepto</th>
                    <th>Comienzo</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  {% for subscription in subscriptions %}
                  <tr>
                    <td>{{ subscription.plan.product.name }}
                      {% if subscription.plan.interval == 'month' %}
                      (mensual)
                      {% elif subscription.plan.interval == 'year' %}
                      (anual)
                      {% else %}
                      ({{ subscription.plan.interval }})
                      {% endif %}
                    </td>
                    <td>{{ subscription.created | date }}</td>
                    <td>
                      {% if subscription.status == 'trialing' %}
                      <span class="badge badge-warning">Periodo de prueba</span>
                      <br/><span style="font-size: 12px;">Hasta el {{ subscription.trial_end | date }}</span>
                      {% elif subscription.status == 'active' %}
                      <span class="badge badge-success">Activo</span>
                      {% elif subscription.status == 'canceled' %}
                      <span class="badge badge-danger">Cancelada</span>
                      <br/><span style="font-size: 12px;">{{ subscription.canceled_at | date }}</span>
                      {% else %}
                      <span class="badge badge-danger">{{ subscription.status }}</span>
                      {% endif %}
                    </td>
                    <td>
                      {% if subscription.ended_at %}
                      Cancelada el {{ subscription.canceled_at }}
                      {% elif subscription.cancel_at_period_end %}
                      Esta suscripción ha sido cancelada y finalizará automáticamente el {{ subscription.current_period_end | date }}
                      {% elif subscription.status != 'canceled' %}
                         <button type="button" class="btn btn-danger btn-xs" onclick="return open_modal('{% url 'cancel-subscription' subscription.lb_subscription.get.pk %}')">
                           <i class="fas fa-pencil-alt"></i> Cancelar
                         </button>
                      {% endif %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
    </div>
</div>
