{% extends "alertas/base.html" %}

{% block title %}Términos del servicio | LibreBORME{% endblock %}

{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <h1 class="page-header">Términos y condiciones del servicio</h1>

          <h1 class="title-section mt-4"><span>|</span>General</h1>
          <h3 class="subtitle-panel">¿Existe un periodo de prueba para los planes de pago?</h3>
          <p>Al actualizar tu plan para Alertas de Actos Mercantiles, tu cuenta tiene un período de prueba gratuito de 7 días. Si cancelas el plan antes del período de prueba, no tendrá ningún coste para ti.</p>

          <p>¿Trabajas en la investigación o en un proyecto sin ánimo de lucro? Contáctanos</p>
          <p>¿Necesitas que integremos la API con tu propio sistema? Contáctanos</p>

          <p class="text-justify">Cada día recibirás en tu email la información que has elegido.</p>
          <p class="text-justify">Las suscripciones incluyen un período de prueba de 7 días. Puedes cancelar la suscripción en cualquier momento antes de los 7 días, sin que esto tenga ningún coste.</p>
          <p class="text-justify">El ciclo de facturación de la suscripción mensual comienza siempre el día 1 de cada mes. El primer mes será prorrateado.</p>
          <p class="text-justify">El período de prueba solo es válido la primera vez.</p>

          <h3 class="subtitle-panel">¿Cuánto recibiré mi factura?</h3>
          <p>You will be billed immediately when you subscribe a plan. Subsequently you will be billed every 30 days.</p>

          <h3 class="subtitle-panel">What do I get when I upgrade?</h3>
          <p>Your API key is authorized to access the API functions and credits as per your chosen plan are deposited in your credit balance.</p>

          <h1 class="title-section mt-4"><span>|</span>Servicio de seguimiento</h1>
          <h1 class="title-section mt-4"><span>|</span>Servicio de suscripciones</h1>
          <h1 class="title-section mt-4"><span>|</span>Servicio de API</h1>
</main>
{% endblock %}
