{% extends "alertas/base.html" %}

{% block title %}Términos del servicio{% endblock %}

{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

  <div class="col-8">
    <h1 class="page-header">Términos y condiciones del servicio</h1>

    <h1 class="title-section mt-4"><span>|</span>General</h1>

    <h3 class="subtitle-panel">Limitación de responsabilidad</h3>

    <p>La información que muestra Librebor.me se ha obtenido de fuentes accesibles al público y cuyos datos se presumen correctos. Debido a que la recopilación de los datos es un proceso informático automatizado y a que la enorme cantidad de datos hace imposible su completa verificación, Librebor.me no asume responsabilidad alguna por errores, inexactitudes u omisiones de la información facilitada.</p>
    <p>El USUARIO no podrá exigir responsabilidad alguna por los daños y perjuicios derivados de errores y/o incorrección y/o inexactitud en la información suministrada y acepta que la información suministrada en la PAGINA WEB se ofrece con carácter orientativo.</p>
    <p>El USUARIO es el único responsable de las infracciones en las que pueda incurrir o de los perjuicios que pueda causar o causarse por la utilización de la PAGINA WEB, quedando Librebor.me, exonerado de cualquier clase de responsabilidad que se pudiera derivar por las acciones del USUARIO.</p>
    </p>

    <h3 class="subtitle-panel">Facturación</h3>

    <p class="text-justify">El ciclo de facturación siempre comienza siempre el día 1 de cada mes. Si contratas un servicio a mitad de mes, el coste será prorrateado entre los días restantes.</p>

    <h3 class="subtitle-panel">Periodo de prueba</h3>
    <p>Algunos servicios incluyen un periodo de prueba. Consulta los detalles de cada uno para más información.</p>
    <p>¿Necesitas probar algún servicio durante más tiempo? Contáctanos.</p>

    <h1 class="title-section mt-4"><span>|</span>Servicio de Seguimiento</h1>

    <h3 class="subtitle-panel">Periodo de prueba</h3>
    <p>El servicio de Seguimiento incluye {{ free_follows }} notificaciones gratis para usuarios registrados.</p>

    <h1 class="title-section mt-4"><span>|</span>Servicio de Suscripciones</h1>

    <h3 class="subtitle-panel">Periodo de prueba</h3>
    <p>El servicio de Suscripciones incluye un periodo de prueba de {{ service_subscription_trial_day }} días la primera vez que se contrata. Durante este periodo se
      puede cancelar la suscripción en cualquier momento y sin ningún coste.</p>

    <h1 class="title-section mt-4"><span>|</span>Servicio de API</h1>

    <p>El servicio de API se encuentra en fase de pruebas y solo está disponible bajo demanda.</p>
    <p>Contáctanos para probarlo.</p>

    {# TODO: periodo de prueba de la API #}

  </div>
</main>
{% endblock %}
