{% extends "alertas/base_dashboard.html" %}
{% load staticfiles %}

{% block content %}
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div id="messages"></div>
    <h1 class="page-header">Actualiza tu plan</h1>

    <div class="row">
      <div class="col-sm-2 col-sm-offset-2">
        <table class="table table-bordered table-sm">
          <tbody>
            <tr>
              <td>Premium</td>
            </tr>
            <tr>
              <td>
                <ul>
                  <li>Hasta 50 followers</li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>{{ amount}} EUR / año</td>
            </tr>
            <tr>
              <td>{% include 'stripe_form.html' with plan=plan_follow50 %}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
