{% load staticfiles %}
{% comment %}
- if <mostrar barra busq navbar>
- alinear boton Usuario flecha abajo

{% endcomment %}

<header>
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light border-bottom">
        <a class="navbar-brand" href="{% url 'borme-home' %}">
            <img src="{% static 'assets/img/logo.svg' %}" alt="" id="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav position-navbar">
                {% comment %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'services' %}">Servicios</a>
                </li>
                {% endcomment %}

                {% if hide_search_bar %}
                <li class="nav-item search-navbar d-none">
                {% else %}
                <li class="nav-item search-navbar">
                {% endif %}
                    <form role="search" action="{% url "borme-search" %}" method="get">
                        <div class="form-row">
                            <div class="col-12">
                                <label class="sr-only" for="inlineFormInputGroup">Username</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="q" id="inlineFormInputGroup" placeholder="Buscar por nombre">
                                    <input type="hidden" name="page" value="1">
                                    <input type="hidden" name="type" value="all">

                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <a href=""><i class="fas fa-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </li>
                <li class="nav-item">
                    {% if user.is_authenticated %}
                    <a class="btn btn2 btn-primary2 btn-transparent btn-panel" href="{% url 'dashboard-index' %}">Área personal</a>
                    {% else %}
                    <a class="btn btn2 btn-primary2 btn-transparent btn-panel" href="#" role="button" data-toggle="modal" data-target="#signInModal">Área personal</a>
                    {% endif %}
                </li>

                <!-- Menu resoluciones hasta md -->
                <li class="nav-item menu-panel-user d-block d-md-none">
                    <a class="nav-link" href="#">
                        <img src="{% static 'assets/img/menu-panel/cuenta.svg' %}" alt="" class="img-navbar-account">
                        {% if user.is_authenticated %}
                        <span>{{ user }}</span>
                        {% else %}
                        <span>Mi cuenta</span>
                        {% endif %}
                    </a>
                </li>
                {% if user.is_authenticated %}
                    {% if user.is_staff %}
                    <li class="nav-item menu-panel-user d-block d-md-none">
                        <a class="nav-link" href="/admin">
                            <span style="color: #B9021D">Admin</span>
                        </a>
                    </li>
                    {% endif %}
                    <li class="nav-item menu-panel-user d-block d-md-none">
                        <a class="nav-link" href="{% url 'dashboard-index' %}">
                            <span>Mi cuenta</span>
                        </a>
                    </li>
                    <li class="nav-item menu-panel-user d-block d-md-none">
                        <a class="nav-link" href="{% url 'alertas-profile' %}">
                            <span>Mi perfil</span>
                        </a>
                    </li>
                    <li class="nav-item menu-panel-user d-block d-md-none">
                        <a class="nav-link" href="#">
                            <span>Facturas</span>
                        </a>
                    </li>
                    <li class="nav-item menu-panel-user d-block d-md-none">
                        <a class="nav-link" href="#">
                            <span>Métodos de pago</span>
                        </a>
                    </li>
                    <li class="nav-item menu-panel-user d-block d-md-none">
                        <a class="nav-link" href="#">
                            <span>Seguimiento</span>
                        </a>
                    </li>
                    <li class="nav-item menu-panel-user d-block d-md-none">
                        <a class="nav-link" href="#">
                            <span>Subscripciones</span>
                        </a>
                    </li>
                    <li class="nav-item menu-panel-user d-block d-md-none">
                        <a class="nav-link" href="#">
                            <span>API</span>
                        </a>
                    </li>
                    <li class="nav-item menu-panel-user d-block d-md-none">
                        <a class="nav-link" href="{% url 'logout' %}">
                            <span>Cerrar sesión</span>
                        </a>
                    </li>
                {% endif %}

                <!-- Menu resoluciones md -->
                <li class="nav-item dropdown menu-panel-user d-none d-md-block">
                    {% if user.is_authenticated %}
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="{% static 'assets/img/menu-panel/cuenta.svg' %}" alt="" class="img-navbar-account">
                            <span>{{ user }}</span>
                    </a>
                    {% endif %}

                    {% if user.is_authenticated %}
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if user.is_staff %}
                        <a class="dropdown-item" style="color: #B9021D" href="/admin">Admin</a>
                        {% endif %}
                        <a class="dropdown-item" href="{% url 'dashboard-index' %}">Mi cuenta</a>
                        <a class="dropdown-item" href="{% url 'alertas-profile' %}">Mi perfil</a>
                        <a class="dropdown-item" href="#">Facturas</a>
                        <a class="dropdown-item" href="#">Métodos de pago</a>
                        <a class="dropdown-item" href="#">Seguimiento</a>
                        <a class="dropdown-item" href="#">Subscripciones</a>
                        <a class="dropdown-item" href="#">Api</a>
                        <a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a>
                    </div>
                    {% endif %}
                </li>
            </ul>
        </div>
    </nav>
</header>
