{% load staticfiles %}
{% comment %}
- libreborne.css

{% endcomment %}

<header>
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light border-bottom">
        <a class="navbar-brand" href="{% url 'borme-home' %}">
            <img src="{% static 'assets/img/logo.svg' %}" alt="" id="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav position-navbar">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'services' %}">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary btn-transparent" href="#" role="button" data-toggle="modal" data-target="#exampleModalCenter">Area personal</a>
                </li>
                <li class="nav-item dropdown menu-panel-user">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="{% static 'assets/img/menu-panel/cuenta.svg' %}" alt="" class="img-navbar-account">
                        <span>Name User</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Mi cuenta</a>
                        <a class="dropdown-item" href="#">Facturas</a>
                        <a class="dropdown-item" href="#">Métodos de pago</a>
                        <a class="dropdown-item" href="#">Seguimiento</a>
                        <a class="dropdown-item" href="#">Subscripciones</a>
                        <a class="dropdown-item" href="#">Api</a>
                        <a class="dropdown-item" href="#">Cerrar sesión</a>

                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
