    <p><strong>¿Necesitas seguir a más empresas?</strong></p>
    <table class="table table-bordered table-sm">
      <tbody>
        <tr>
          <td>
              Bono de 100 alertas
          </td>
        </tr>
        <tr>
          <td>3 EUR / mes</td>
        </tr>
        <tr>
          <td>Pago anual</td>
        </tr>
        <tr>
          <td>
            <a href="{% url 'add-to-cart' product='follow100' %}">
              <button type="button" class="btn btn-primary">
                Añadir a la cesta
              </button>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
