<div class="row">
  <div class="col-sm-6 col-sm-offset-2">
    <table class="table table-bordered table-sm">
      <tbody>
        <tr>
          <td>Supporter</td>
          <td>Suscripción mensual</td>
          <td>Suscripción anual</td>
        </tr>
        <tr>
          <td>
            <ul>
              <li>Hasta 10 alertas</li>
              <li></li>
            </ul>
          </td>
          <td>
            <ul>
              <li>Hasta 10 alertas</li>
              <li></li>
            </ul>
          </td>
          <td>
            <ul>
              <li>Hasta 10 alertas</li>
              <li>Ahorra un 16% pagando anualmente</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>20 EUR / año</td>
          <td>30 EUR / mes</td>
          <td>300 EUR / año</td>
        </tr>
        <tr>
          <td>{% include 'stripe_form.html' %}</td>
          <td>{% include 'stripe_form.html' with plan=plan_month %}</td>
          <td>{% include 'stripe_form.html' with plan=plan_year %}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
