<div class="row">
  <div class="col-sm-6 col-sm-offset-2">
    <table class="table table-bordered table-sm">
      <tbody>
        <tr>
          <td>Suscripción mensual</td>
          <td>Suscripción anual</td>
        </tr>
        <tr>
          <td>
            <ul>
              <li>Un tipo de notificación</li>
              <li>Una provincia</li>
              <li></li>
            </ul>
          </td>
          <td>
            <ul>
              <li>Un tipo de notificación</li>
              <li>Una provincia</li>
              <li>Ahorra 2 meses pagando anualmente</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>{{ plan_month.amount }} {{ plan_month.currency }} / {{ plan_month.interval }}</td>
          <td>{{ plan_year.amount }} {{ plan_year.currency }} / {{ plan_year.interval }}</td>
        </tr>
        <tr>
          <td>
            <a href="{% url 'add-to-cart' product=plan_month.nickname %}">
              <button type="button" class="btn btn-primary">
                Añadir a la cesta
              </button>
            </a>
          </td>
          <td>
            <a href="{% url 'add-to-cart' product=plan_year.nickname %}">
              <button type="button" class="btn btn-primary">
                Añadir a la cesta
              </button>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
