{% extends 'borme/base.html' %}

{% load ad_rotator_tags %}

{% block content %}

    <div class="row">

      <div class="col-lg-3">
        <h2>Datos totales <i class="glyphicon glyphicon-signal"></i></h2>
        <ul>
          <li><strong>{{ total_companies }}</strong> empresas</li>
          <li><strong>{{ total_persons }}</strong> personas</li>
          <li><strong>{{ total_anuncios }}</strong> anuncios</li>
          <li>Última actualización: <strong>{{ last_modified|date:'d/m/y' }}</strong></li>
        </ul>

          <h2>Calendario de anuncios</h2>
          {{ calendar }}
      </div>

      <div class="col-lg-5">
        <h2>Ejemplos de empresas</h2>
        <ul>
            {% for company in random_companies %}
                <li><a href="{% url "borme-empresa" company.slug %}">{{ company.fullname }}</a></li>
            {% empty %}
                <li><a href="{% url "borme-empresa" "el-corte-ingles-sa" %}">EL CORTE INGLES SA</a></li>
                <li><a href="{% url "borme-empresa" "mercadona-sa" %}">MERCADONA SA</a></li>
                <li><a href="{% url "borme-empresa" "pc-componentes-y-multimedia-sl" %}">PC COMPONENTES Y MULTIMEDIA SL</a></li>
                <li>CAJA DE RESISTENCIA MOTIVA 2 PRODUCCIONES SL</li>
            {% endfor %}
        </ul>
      </div>

      <div class="col-lg-4">
        <h2>Ejemplos de personas <i class="glyphicon glyphicon-user"></i></h2>
        <ul>
            {% for person in random_persons %}
            <li><a href="{% url "borme-persona" person.slug %}">{{ person.name|title }}</a></li>
            {% empty %}
                <li>Roig Alfonso Juan Jose</li>
                <li>Monedero Fernandez Juan Carlos</li>
            {% endfor %}
        </ul>
      </div>
    </div>

    <div class="row">
        <div class="publi5 col-sm-4 col-sm-offset-3">
            <p>Publicidad recomendada</p>
            {% get_banner 'leaderboard' %}
        </div>
    </div>

{% endblock %}
