{% load staticfiles %}
<html>
<body>

<img src="{{ SITE_URL }}{% static 'libreborme_logo.png' %}">

<h1>Suscripciones a {{ evento }}</h1>

<p>Hola {{ name }}.</p>
<p>A continuación te enviamos el listado de empresas que han generado una notificación en LibreBORME para tu suscripción <strong>{{ evento }}</strong> en <strong>{{ provincia }}</strong>:

<ul>
{% for company in companies %}
<li><a href="{{ SITE_URL }}/borme/empresa/{{ company.slug }}">{{ company.name }}</a></li>
{% endfor %}
</ul>

<p>Recuerda que puedes modificar tus suscripciones desde el
<a target="_blank" href="{% url 'service-subscription' %}">panel de usuario</a>.
</p>

{% include "email/footer.html" %}

</body>
</html>
