{% load staticfiles %}
<html>
<body>

<img src="{{ SITE_URL }}{% static 'libreborme_logo.png' %}">

<p>Hola {{ fullname }}.</p>

<p>Te informamos de que tu cuenta en <a href="{{ SITE_URL }}/{% url 'dashboard-index' %}">Librebor.me Alertas</a> se encontraba en período de pruebas y ha expirado después de {{ test_days }} días.</p>

<p>Si tu experiencia ha sido satisfactoria y quieres contratar el servicio, escríbenos a <a href="mailto:{{ email_contact }}">{{ email_contact }}</a>.</p>


<p>Atentamente,</p>

{% include "email/footer.html" %}

</body>
</html>
