    <p><strong>¿Necesitas seguir a más empresas?</strong></p>
  <div class="col-sm-4">
    <table class="table table-bordered table-sm">
      <tbody>
        <tr>
          <td>
              Bono de 100 alertas
          </td>
        </tr>
        <tr>
          <td>3 EUR / mes</td>
        </tr>
        <tr>
          <td>Pago anual</td>
        </tr>
        <tr>
          <td>
            <a href="{% url 'buy-product' product=plan_year.nickname %}">
              <button type="button" class="btn btn-primary">
                Suscribirme
              </button>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
