{% extends "old_alertas/base_dashboard.html" %}
{% load staticfiles %}
{% load bootstrap %}

{% block content %}

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <div id="messages"></div>
          <h1 class="page-header">API</h1>

          {% if subscriptions %}
            {% include 'table_active_subscriptions.html' %}
          {% else %}
            <p>Este producto se encuentra en fase Beta. Si quieres probarlo, <a href="#" data-toggle="modal" data-target="#requestAPIKeyModal">solicita una API Key</a>.</p>
            <h2>Suscripciones</h2>
            <p>Tienes 30 consultas gratis al mes para probar la API de LibreBORME</p>

            {% include 'pricing_api_table.html' %}

            <h3>¿Existe un periodo de prueba para los planes de pago?</h3>
            <p>Al actualizar tu plan para Alertas de Actos Mercantiles, tu cuenta tiene un período de prueba gratuito de 7 días. Si cancelas el plan antes del período de prueba, no tendrá ningún coste para ti.</p>

            <p>¿Trabajas en la investigación o en un proyecto sin ánimo de lucro? Contáctanos</p>
            <p>¿Necesitas que integremos la API con tu propio sistema? Contáctanos</p>

            <h3>When will you be billed?</h3>
            <p>You will be billed immediately when you subscribe a plan. Subsequently you will be billed every 30 days.</p>

            <h3>What do I get when I upgrade?</h3>
            <p>Your API key is authorized to access the API functions and credits as per your chosen plan are deposited in your credit balance.</p>

          {% endif %}

          {% if api_enabled %}
          <h2>Detalles de API</h2>
          <ul>
              <li>API Access ID: </li>
              <li>API Access Key:</li>
              <li>Periodo: </li>
          </ul>
          {% endif %}
        </div>

        {% include 'form_solicitar_api_key.html' %}
        {% include 'form_contacto.html' %}
{% endblock %}
