<div class="moz-cite-prefix">Buenas tardes.<br>
      <br>
      En contestación a su solicitud, deberá cumplimentar el formulario
      que puede descargar en:<br>
      <a href="{{ HOST_BUCKET }}/static/aepd_cancelacion.pdf">{{ HOST_BUCKET }}/static/pdf/aepd_cancelacion.pdf</a><br>
      Una vez recibido se dará traslado de su solicitud al Departamento
      Jurídico para que proceda a evaluarla.<br>
      <br>
      Le informamos de antemano de que según el Artículo 6.2 de la <a
        href="https://www.boe.es/buscar/doc.php?id=BOE-A-1999-23750">Ley
        Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de
        Carácter Personal</a>, <u>no es preciso el consentimiento
        cuando los datos figuren en fuentes accesibles al público</u> y
      su tratamiento sea necesario para la satisfacción del interés
      legítimo perseguido por el responsable del fichero o por el del
      tercero a quien se comuniquen los datos, siempre que no se
      vulneren los derechos y libertades fundamentales del interesado.<br>
      <br>
      Por otra parte<span class="im"><span class="im">, los datos que se
          muestran como el nombre y apellidos, y las funciones o puestos
          desempeñados en una empresa <u>no están comprendidos en el
            ámbito de aplicación de la LOPD</u> tal y como se establece
          en el artículo 2.2 del <a
            href="https://www.boe.es/buscar/act.php?id=BOE-A-2008-979">Real

            Decreto 1720/2007</a> y por tanto <u>no son considerados
            datos de carácter personal</u>.</span> Por consiguiente
        usted no tiene derecho a ejercer los referidos derechos
        reconocidos en la LOPD, de acceso, </span><span class="im">rectificación,

        oposición y cancelación (ARCO)</span><span class="im">.<br>
        <br>
      </span> La fuente de donde proceden los datos referidos a su
      persona son los siguientes Boletines oficiales:<br>
      {% for url in urls %}
        <a class="moz-txt-link-freetext" href="{{ url }}">{{ url }}</a><br>
      {% endfor %}
      <br>
      Puede dirigir sus reclamaciones a la <a
        href="https://www.boe.es/aeboe/">Agencia Estatal Boletín Oficial
        del Estado</a>, que es la encargada de la publicidad de estos
      datos. En Librebor.me no tendríamos inconveniente en cancelar los
      datos si así se hiciese en la fuente original. No dude en
      contactarnos de nuevo si así fuera.<br>
      <br>
      Si lo que desea es que su nombre no aparezca indexado en
      buscadores como Google, podemos incluirle en el
      <a href="https://support.google.com/webmasters/answer/6062608?hl=es">fichero robots.txt</a>.
      Indíquenos si así lo desea para realizarlo lo antes posible.<br>
      <br>
      <span class="im">Sin más dilación, reciba un cordial saludo.<br>
      </span><span class="im">El equipo de LibreBOR.me</span><br>
    </div>
