 <div class="moz-cite-prefix">Buenas tardes.<br>
      <p> Le informamos de que hemos incluido las URL siguientes en el
        fichero robots.txt:<br>
        <a href="https://libreborme.net/borme/empresa/balear-sport-car/"><span class="moz-txt-link-freetext"></span></a><span style="font-size:12.0pt"><o:p></o:p></span></p>
      <p class="MsoNormal">
        <span style="font-size:12.0pt">
          <a href="https://libreborme.net/borme/persona/xxxxxxxxxxxx/">https://libreborme.net/borme/persona/xxxxxxxxxxxx/</a>
        </span>
      </p>
      <p>Tenga en cuenta de que la desindexación en buscadores puede
        tardar varios días.<br>
      </p>
      <p>Reciba un saludo.<br>
      <span class="im">El equipo de LibreBORME.</span></p>
</div>
