{% load staticfiles %}
<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "ie10-viewport-bug-workaround.css" %}" rel="stylesheet">
    <link href="{% static "css/dashboard1.css" %}" rel="stylesheet">
    {% block extrastyles %}{% endblock %}
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">LibreBORME</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li {% if active == 'settings' %}class="active"{% endif %}><a href="{% url 'alertas-settings' %}">Configuración</a></li>
            <li {% if active == 'soporte' %}class="active"{% endif %}><a href="{% url 'alertas-soporte' %}">Soporte</a></li>
            <li><a href="{% url 'logout' %}">Salir</a></li>
          </ul>
        </div>
      </div>
    </nav>



    <div class="container-fluid">
      <div class="row">
        
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li {% if active == 'dashboard' %}class="active"{% endif %}><a href="{% url 'dashboard-index' %}">Dashboard <span class="sr-only">(current)</span></a></li>
            <li {% if active == 'alertas' %}class="active"{% endif %}><a href="{% url 'alertas-list' %}">Alertas</a></li>
            <li {% if active == 'billing' %}class="active"{% endif %}><a href="{% url 'alertas-billing' %}">Facturación</a></li>
          </ul>
           <ul class="nav nav-sidebar">
            <li {% if active == 'history' %}class="active"{% endif %}><a href="{% url 'dashboard-history' %}">Historial</a></li>
          </ul>
        </div>

      {% block content %}{% endblock %}

      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "static_jquery/js/jquery.min.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static "ie10-viewport-bug-workaround.js" %}"></script>

</body></html>