{% extends "alertas/base_dashboard.html" %}

{% block content %}

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Facturación</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" class="img-responsive" alt="Generic placeholder thumbnail" width="200" height="200">
              <h4>Label</h4>
              <span class="text-muted">Billing</span>
            </div>
            <p>Suscripción hasta:</p>
          
          </div>

          <h2 class="sub-header">Facturas</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Comienzo</th>
                  <th>Final</th>
                  <th>Cantidad</th>
                  <th>Forma de pago</th>
                  <th>Pagado</th>
                </tr>
              </thead>
              <tbody>
                {% for invoice in invoices %}
                <tr {% if not invoice.is_paid %}class="danger"{% endif %}>
                  <td>{{ invoice.id }}</td>
                  <td>{{ invoice.start_date }}</td>
                  <td>{{ invoice.end_date }}</td>
                  <td>{{ invoice.amount }}</td>
                  <td>{{ invoice.get_payment_type_display }}</td>
                  <td>{% if invoice.is_paid %}
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    {% else %}
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
{% endblock %}

