{% extends "base_generic.html" %}
{% load staticfiles %}
{% block content %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% endif %}
{% endif %}

<div class="loginmodal-container">
  <div class="loginmodal-logo">
    <img src="{% static 'libreborme_logo.png' %}"><br>
  </div><br>

  <div style="color: red">
  {% for key, value in form.errors.items %}
  {{ value }}
  {% endfor %}
  </div>

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <input type="email" class="form-control" id="id_username" maxlength="254" name="username" placeholder="Correo electrónico" required>
    <input id="id_password" name="password" type="password" placeholder="Contraseña"/>
    <input type="hidden" name="next" value="" />
    <input type="submit" name="login" class="login loginmodal-submit" value="Entrar">
  </form>

  <div class="login-help">
    <a href="{% url 'django_registration_register' %}">Registrarme</a> - <a href="{% url 'password_reset' %}">Olvidé mi contraseña</a>
  </div>
</div>

{% endblock %}
