{% load staticfiles %}
<html>
<body>

<img src="{{ SITE_URL }}{% static 'libreborme_logo.png' %}">

<h1>Notificationes de {{ evento }}</h1>

<p>Hola {{ name }}.</p>
<p>A continuación te enviamos el listado de empresas que han generado una notificación en LibreBORME:</p>

<ul>
{% for company in companies %}
<li><a href="#">{{ company.name }}</a></li>
{% endfor %}
</ul>

<p>Estás recibiendo este email porque has activado la subscripción <strong>{{ evento }}</strong> en <strong>{{ provincia }}</strong>.

<p>Recuerda que desde tu <a href="https://libreborme.net/alertas/">panel de usuario</a> puedes descargar el listado
   de tus notificaciones en formato CSV.</p>

<div>
--</br>
Alertas de LibreBORME</br>
Plataforma web para la consulta y el análisis del Boletín Oficial del Registro Mercantil<br/>
<a href="http://libreborme.net/">http://libreborme.net/</a>
</div>

</body>
</html>
