{% load staticfiles %}
<html>
<body>

<img src="{{ SITE_URL }}{% static 'libreborme_logo.png' %}">

<p>Hola {{ fullname }}.</p>

<p>Te informamos de que tu cuenta en Libreborme Alertas se encontraba en período de pruebas y ha expirado después de {{ test_days }} días.</p>

<p>Esperamos que haya tenido una experiencia satisfactoria probando el servicio. Si ha sido así y quiere contratarlo, escríbanos a contacto@libreborme.net</p>

<p>Atentamente,</p>

<div>
--</br>
Alertas de LibreBORME</br>
Plataforma web para la consulta y el análisis del Boletín Oficial del Registro Mercantil<br/>
<a href="http://libreborme.net/">http://libreborme.net/</a>
</div>
</body>
</html>
